[2013-08-20 14:42] rodrigoi opened #1 "main.js redundant code"
Is main.js in use? Or can it be safely deleted (along with it corresponding spec)?

[2013-08-20 17:56] #1 closed, assigned to nobody

[2013-10-16 18:02] rodrigoi opened #56 "new vision of autoindent - unit tests"
Please, take a look at the unit test suite because 6 out of 8 unit test for the enter key action (autoindent) fail.

[2013-10-21 14:00] #56 closed, assigned to nobody

[2013-11-07 14:53] cspiegl opened #93 "traits tag should be clickable"
This tags would be great if clickable and a dropdown should be shown with the information the trait is about.

![screenshot](https://f.cloud.github.com/assets/1096384/1492118/f37b30d2-47bb-11e3-91a9-a3c630fd1388.png)

[2013-11-07 14:58] chrisspiegl opened #94 "Traits that respond with the same response code"
It would be great if it would be possible to use two traits for one api end point. And to show that the end point can answer with either one of the two ways.

[code]

[2013-11-08 19:25] JemDay opened #95 "Question - And a really dumb one..."
Firstly, thanks for contributing this, i'm slowly coming up-to-speed with RAML and this is a good way to get there.

Now my dumb question, and i'm really embarrassed to ask this !.

I'm running a local instance of the tool that i cloned from GIT, it runs fine but for the life of me i can't find where the raml files are being written,; as i suspect i'll be writing markdown and json schema files as

[2013-11-14 19:14] #94 closed, assigned to nobody

[2013-11-19 05:45] ghost opened #105 "Get "Error: [$compile:multidir] Multiple directives [tab, tab]..." when Angular.js is 1.2.0-rc3"
[code]

The Angular.js is 1.1.5 in the default demo, how to solve this problem if I want to use 1.2.0-rc3?

[2013-11-19 17:17] malleshv opened #107 "Question - Remote file server support"
Thanks for contributing to this. Looks very promising.
Are there any plans to support retrieving and saving an existing RAML file from/to a remote file server (over HTTP(S))?
I ask this as I see that there is remote-file-system.js which supports various operations to the remote file server.

-Mallesh

[2013-11-22 19:07] #105 closed, assigned to nobody

[2013-12-02 22:20] malleshv opened #123 "Question: "include" syntax"
Is the following syntax supported for the localhost?
traits:
- !include common/CommonTraits.yaml

The above does not seem to work (which used to work in earlier revisions). I had to use the following:

traits:
- !include http://localhost:9013/common/CommonTraits.yaml

After making the above changes, I'm getting the following error,
"Cannot read property 'value' of undefined"

Also, I'm getting the

[2013-12-04 23:03] #123 closed, assigned to nobody

[2013-12-12 18:18] #107 closed, assigned to nobody

[2014-01-09 13:35] dmartinezg opened #163 "Fetch error on !include"
Issue described in https://github.com/raml-org/raml-spec/issues/27

[2014-01-30 15:15] omichowdhury opened #180 "Why was remote-file-system removed?"
Is this some part of a larger plan for persisting schemas to somewhere other than local storage?

I'm looking for some context here as we're using it to save schemas to the local file system (via a quick'n'dirty node app)

[2014-01-30 16:53] #180 closed, assigned to nobody

[2014-01-31 09:39] igorkosta opened #181 "No API-Console available"
Hi guys,

in your youtube video there is an api-console available on the right side. I cloned the repository and am running the local version of the API-Designer but unfortunately I don't see the console on the right side.

Cheers
Igor

[2014-01-31 09:42] #181 closed, assigned to nobody

[2014-02-17 15:58] ricston-git opened #186 "Editor slowing dramatically for large raml (850+) lines on Chrome"
RAML files (850 lines +) that the editor seems to slow to a crawl in Chrome
on Windows. Unfortunately I cannot share the raml file.

r

[2014-03-01 00:11] comptly opened #187 "ignore"
Some Description

[2014-03-01 00:14] #187 closed, assigned to nobody

[2014-03-06 14:56] MMore opened #188 "Optional properties do not work correctly if used resource type inherits from another resource type"
I am not sure whether this is a bug in the API Designer or the RAML specification is not clear enough.

Take a look to the following example:

[code]

Why has the `/test_deeper_without_post` a POST? In "base" and "collection" is it defined a optional using the questionmark...

![screen shot 2014-03-06 at 15 55 33](https://f.cloud.github.com/assets/172760/2346216/69786274-a53f-11e3-90c3-381ad2d3ff1

[2014-03-25 10:25] igorkosta opened #192 "Any request to the real API results in a 404"
We've captured the POST request coming from API-Designer with fiddler and realised that it was an OPTIONS request. Doesn't matter what request we define in our .raml document - the only request API-Designer is sending is the OPTIONS request.

[2014-03-25 12:02] #192 closed, assigned to nobody

[2014-03-28 12:10] MCalder423 opened #193 "Blank screen on the browser"
I had downloaded the designer a couple of months ago, and had it set up and running fine.  I wanted to refresh the code to take advantage of the new shiny that you guys are doing, but the latest version that I pulled just brings up the browser with a blank screen.  There's content behind it (lots of javascript tags) but nothing I can actually see.  any thoughts?

[2014-04-25 22:56] sinukus opened #197 "Getting started docs"
Took me a while to get things going because of some missing and misleading steps in your docs at
https://github.com/mulesoft/api-designer/

Missing step:
install grunt protractor

erroneous step:
Install webdriver required to run localScenario task

node_modules/grunt-protractor-runner/node_modules/protractor/bin/webdriver-manager update

Should be:
Install webdriver required to run localScenario

[2014-05-31 01:05] polmiro opened #199 "Support for browsing directories"
I have successfully hooked up my own filesystem running the api-designer locally. But I noticed the directories don't show up in the sidebar. I have looked into the code, and despite it seems like the folder files of the current directory are parsed and saved, they are not used anywhere. Is this something that is being worked on? I'm trying to add it myself otherwise.

Some guidance will be welcom

[2014-06-02 20:34] polmiro opened #200 "Response schemas not displayed correctly"
![screenshot 2014-06-02 13 24 43](https://cloud.githubusercontent.com/assets/912337/3152908/19f59006-ea94-11e3-8168-66caed0614c7.png)
![screenshot 2014-06-02 13 24 59](https://cloud.githubusercontent.com/assets/912337/3152911/1f935c32-ea94-11e3-90ff-cb9392b43314.png)

I'd be happy to contribute if you could direct me to the problem. It looks to me that the issue might be coming from [api-console](

[2014-06-02 22:48] #200 closed, assigned to nobody

[2014-06-12 08:52] maryoush opened #203 "Not deterministic response merge"
Imagine we have a raml modelling some api

<pre>
#%RAML 0.8
---

title: Configuration Service
baseUri: http://configuration.cf.com/
version: v1
mediaType: application/json

traits:
  - !include http://api.cf.com/patterns/v1/trait-paged.yaml
  - !include http://api.cf.com/patterns/v1/trait-limited.yaml

/configurations:
  is: [paged,limited]
  displayName: Configuration properties
  description: Ma

[2014-06-13 08:09] maryoush opened #204 "API designer CORS(?) issue"
Hi,
We have strange inconvenience regarding the including externals within RAML across domains.

There is sample RAML

<pre>
#%RAML 0.8
title: hybris Products API
baseUri: http://localhost:8080/
version: v1
mediaType:  application/json

schemas:
  - error : !include http://localhost:8080/patterns/v1/schema-error-message.json

/products:
  get:
    description: Gets all products
    responses:

[2014-06-20 09:01] apomelov opened #205 "Raml document decomposition"
I'd like to decompose a large raml document, e.g. by top level resources. Everything works well but one thing. I can't tell editor, that the contents of some *.raml file is not a whole document but a single resource and I can start this file with http methods, but not title and version.
Is it possible?

[2014-07-17 12:22] elkouhen opened #208 "CodeMirror is slow"
Hello,

I have been working on some models (a few thousand of lines) for my customer (SNCF).

My models include very big json files (examples of request and response data).

I understand that CodeMirror is well suited for editing the raml files.

But It seems to me that CodeMirror is overkill for visualizing JSON files.

I replaced CodeMirror with a "simpler" editor (https://github.com/hrovira/jso

[2014-07-22 18:29] jtdeane opened #210 "API Designer - Slow Down"
While editing a large RAML file, with Schemas, Traits, Resource Types, and Resources, the editor starts to slow down with each successive update until it becomes unusable. Then I need to reboot the server to use the editor again.

[2014-07-22 18:31] jtdeane opened #211 "Singularize does not support dashes"
In RAML .8 The Singularize Function for does not support dashes (-): <<resourcePathName|!singularize>>.

For instance I cannot singularize

/medical-authorizations

The result of the function call is "authorization" when the correct result should be "medical-authorization"

[2014-07-23 12:56] McFoggy opened #212 "Registration requires github full access to personnal data"
Wouldn't read-only permissions be enough?

[2014-07-26 22:10] triplepoint opened #213 "API definitions with custom authentication methods cause a js error"
Attempting to create a RAML spec with a custom authentication method will cause an ungraceful javascript error when testing:

For the RAML file:
[code]
Attempting to:
- Click on "GET" for the /auth-ping endpoint
- select  the "HomeRolledAuth" authentication option
- click "GET"

will result in the following javascript error:
[code]

Obviously this feature can't be made to work entirely, since the

[2014-08-27 00:27] seanadkinson opened #217 "Basic Auth doesn't work due to missing `CryptoJS`"
Any request with Basic Auth errors out because `CryptoJS` is not defined:

[code]

[Screenshot here](http://screencast.com/t/8A9LOHittoxk)

Seems like an easy fix to get that dependency in there, but I'm just going to create a fork and merge req that just uses [atob and btoa](https://developer.mozilla.org/en-US/docs/Web/API/window.atob)

[2014-08-29 18:57] dwcramer opened #219 "Font locking breaks when * appears in a resource's URI"
I have a resource whose URI is something like:
/api/v1/widget/*/tags/{tag}
When I add it to my document in the api-designer, everything up to and including the \* is white while things after the */ are red, as is usual for URI templates. However \* is a legal character in a paths. See:
http://tools.ietf.org/html/rfc3986#section-3.3
I notice a few other "subdelims" confuse the api-designer as well:

[2014-09-02 18:10] farolfo opened #220 "ctrl+z with multiple files mixes files' content"
Scenario:
Having 2 files in the designer (both saved) do this:
  - add something to the file A.
  - save file A.
  - go to file B.
  - press ctrl+z.

  -> You will get the data of the file A overriding file B, and losing the data in file B.

[2014-09-05 21:59] scordatura opened #222 "'Try it' needs a 'Use example values' checkbox"
In the **API Reference**, we have some (body) **Headers** for some methods. In the **Try it** panel, the **Headers** are text fields with example values in gray.

To actually use the example values (which we do, a lot) we must type or copy/paste over them. Our testers find this awkward and onerous. If we had a **Use example values** checkbox we could save a hell of a lot of clicks or keystrokes.

[2014-09-06 00:30] scordatura opened #223 "Reversing order of page titles would make them more useful"
If I have **API Designer** on one tab, **Portal** on another, **API administration** on another, etc, all I see on the tabs is **Anypoint** for the pages other than the one in front. I already know they're all Anypoint by virtue of the icon that appears before the word, which is long enough to take up all the visible space in the tab.

This is not very useful. In Chrome, I need to use the Window m

[2014-09-11 13:45] maryoush opened #224 "Api designer caches the reuqest"
Hi,
We found out that the api-designer caches a get request for remote includes.

[code]

Once I have temporary unavailable resource at http://api.mycompanys.com/patterns/v1/trait-languageModification-aware.yaml I got the message similar to this

![screen shot 2014-09-11 at 13 00 33](https://cloud.githubusercontent.com/assets/3878520/4234713/ce0f7768-39b9-11e4-8586-6946141de132.png)

The api-desig

[2014-09-17 20:21] brettkroeder opened #227 "formParameters: !include employee_upsert_schema.map causes error in RAML"
I'm trying to use an include for formParameters like I do for the json schema.  Since it wants a map I my include is:
       formParameters: !include employee_upsert_schema.map

The file looks like this:
[code]

But API Designer is telling me 'formalParameters' must be a map.

[2014-09-18 00:58] scordatura opened #228 "API reference truncates Query Parameters"
The GET method for a URL in my API takes three Headers and six Query Parameters. Each of these is three lines long (one line each for name, description, and example).

Looking at the detail page for this GET, I see that only the name and description of the last Query Parameter show up. The page truncates so that the example is not shown.

[2014-09-18 01:51] scordatura opened #229 "API Reference won't show Query Parameter example with value 0"
In the detail window of API Portal and API Designer, a Query Parameter whose Example is just a zero ('0') is displayed without the Example. This is true whether the type is integer or string.

You can reproduce this with the RAML and sample file below.

You can see the RAML and sample with correct spacing by going into edit mode.

----

[code]

----

[code]
----

![disappearing-zeros](https://clou

[2014-09-18 16:29] scordatura opened #230 "API Designer: Quote at beginning of queryParameter Description causes error."
This queryParameter Description works:

[code]

This one causes the error **expected block end but found scalar**. It has a phrase enclosed in quotes; in fact, the second quote can be removed and you still get the error.

[code]

Here's a screenshot and RAML and sample.

![quotes-at-start-cause-error](https://cloud.githubusercontent.com/assets/8117014/4323477/a6a2f528-3f50-11e4-9515-3316a8c14d48.p

[2014-09-18 16:36] #230 closed, assigned to nobody

[2014-10-07 23:20] xaka opened #231 "Do not apply changes to file browser until file system operation succeeds"
As an example, if we try to delete file or folder and underlying file system implementation fails for any reason, this file or folder will disappear from file browser until we reload page.

[2014-10-07 23:24] xaka opened #232 "Canceling drag-and-drop operation gives unreasonable error message"
Subject. There should be no error message if drag-and-drop has been canceled or there are no changes (drop immediately at the same location).

[2014-10-14 23:21] ghost opened #233 "Default transformation of the response via HTTP kills the api design editor"
Hi,

I took me quite some time to figure this out, so I thought it would be useful posting. I had been trying the original api designer implementation with the local browser storage and it worked very well for me. As I wanted to run this with a bit more persistence (also to think about versioning my changes) I put an HTTP/PHP/MySQL storage behind the editor. I defined my own FileSystem that would

[2014-10-15 22:55] blakeembrey opened #234 "Ability to view binary assets"
Kind of like Sublime Text implemented, it'd be cool to be able to view images, music and videos in the editor as assets instead of text.

[2014-10-16 14:12] twolff-iow opened #236 "Request/response schema/example"
Hi,

currently, RAML defines both an example and a schema for a request and response. While I understand that the example is (and should be) just an XML or a JSON which is displayed by the designer/console as code, are there any plans to display the schema a bit differently? AFAIU a schema contains the information about the fields, its data types and it's constraints (max/min values, enum values,

[2014-10-16 17:51] blakeembrey opened #237 "Inconsistent state"
Is easy to end up with an inconsistent file state if any file fails to save or delete since there is nothing protecting the in-memory file system from failures.

[2014-10-21 21:40] blakeembrey opened #239 "Enable right click to create files/folders"
It would be more intuitive that when you right click a folder, it gives you the option to create a directory inside the current file. This would also allow the "new file" button to add to root instead of the currently selected location.

[2014-10-31 10:48] sichvoge opened #244 "After importing files the 'Add a new file' dialog opens again."
1. I've cloned the current version and started the API Designer.
2. 'Add a new file' ask me to create a new RAML file since the project is empty. Enter'api.raml' and click OK.
3. Go to 'Import' and import ZIP with following files (api.raml, employee.json, employee_schema.json)
4. Import done! Dialog for 'Add a new file' appears again saying there is no project file (see attachment)

![screen shot

[2014-10-31 21:20] #239 closed, assigned to nobody

[2014-11-04 13:59] #188 closed, assigned to nobody

[2014-11-05 15:37] carlskii opened #246 "Getting and passing Authorisation Token into a header"
Hi,

My API requires that I first get an auth token by calling an auth method within the API. This returns a token e.g. `1035837f-f452-c474-71d5-ee6b95bf1075`. This token needs to be added to a header for all subsequent API calls. e.g.

[code]

I've read through the RAML spec, but its not obvious to me if this can be achieved.

[2014-11-11 03:39] robertlevy opened #247 "NPM package"
Would be great to have an NPM package for this project containing just the build output.  Pulling the whole source tree into my project is overkill.

[2014-11-11 22:05] vlcinsky opened #248 "With locally run Designer - unable to Export"
When using Designer at anypoint, I am allowed to "Export Files".

When running it locally, I do not see any such option present.

Issue #95 explains, I can find the data in local storage in the browser, but having an option to export set of files into zip archive and import it into anypoint Designer makes testing of locally running services much easier.

[2014-11-19 23:20] blakeembrey opened #256 "Cache RAML files"
RAML files should be able to be cached and the cached state retrieved from memory through an `!include`. This would improve performance of parsing large sets of RAML files.

[2014-11-19 23:24] blakeembrey opened #257 "Parse RAML dependency when background !include changes"
When an `!include`'d file changes (drag and drop, import, etc.) we should reparse the current RAML document. This is an extension of the change introduced at #252, but requires a much larger overhaul to work - either making content changes a getter/emitter or being able to `$watch` all `!include`'d files. One performance restriction is that there's currently no way to list `!include` dependencies

[2014-11-25 08:50] sichvoge opened #261 "Adding support for an error console"
Currently, we only show errors in the design panel with a mark on the line of code. If the RAML file is really big and this error is in one of the lower lines we have to scroll down all the way to it. Doing that you also have to watch out for this mark. Furthermore, only one mistake shows up currently, what means if you find that mistake in the middle by scrolling down the RAML file and the next m

[2014-11-25 08:52] sichvoge opened #262 "Jumping directly to a resource in your RAML file by clicking on one in the API console."
Having a very large RAML file it would be very handy to have a feature where you could easily click on a resource in your API console and jump directly to the line of code in your RAML designer panel.

[2014-11-27 03:34] xiaohanyu opened #264 "questions about syntax for resourceTypes"
Hi, I've found the following snippets in http://api-portal.anypoint.mulesoft.com/github/api/github-api-v3/github-api-v3.raml

[code]

However, I didn't find this type of syntax in RAML spec, could somebody provide some help?

Thanks!

[2014-11-27 13:50] #264 closed, assigned to nobody

[2014-12-02 20:32] robertlevy opened #266 "Default to collapsed state"
With large files, it would be much easier to work if the editor defaulted everything to a collapsed state so I can then just expand the pieces I'm actively working on

[2014-12-05 06:54] xiaohanyu opened #269 "implement osprey as local mock service"
Hi,

I'm using api-designer in my company with RAML and it works great. However, I have a question, how can it build a localhost mock service inside my company for RAML instead of using mock service from mulesoft?

I mean, is there some open source software that eats RAML and produces a mock service in localhost?

I know mulesoft's studio IDE, however, it has bugs with RAML's `!include` syntax.

T

[2014-12-21 13:21] ggrandes opened #274 "update version in bower.json and make a tag"
We are working in a module for storage, but api-designer seems don't have updated version (bower.json says 0.0.1, but tag say v0.2) or recent tag (older than a year)?

Can update bower.json verion and make a new tag?

[2015-01-02 09:09] sichvoge opened #275 "Resource name is invalid: illegal character"
The API Designer (version something on 2015-01-01) reports

`Resource name is invalid: illegal character`

when there is a hyphen in a uriParameter, e.g.

[code]

Quick fix: use underscores instead of hyphens.

Issues:

Hyphen is a legal YAML word character.
Hyphens are allowed in resource names.
Hyphen causes no problems in a uriParameter name.
The hyphen is in the template expression, not in the

[2015-01-02 13:46] dmartinezg commented on #275
Can you please open this bug in the https://github.com/raml-org/raml-js-parser/issues repo?

[2015-01-12 17:28] jxc876 commented on #197
I had the same issue on Windows 7, the instructions on the front page didn't work, I I needed to append "node" before the command ran:

node_modules\grunt-protractor-runner\node_modules\protractor\bin\webdriver-manager update

[2015-01-19 17:48] rand0m86 opened #276 "OAuth scopes are not shown in Try It window"
If I specify any scope from OAuth definition I get only "Anonymous"  option in Try It window. Changing `securedBy` definition to `securedBy: [ oauth_2_0 ]` works but all of scopes are available.

[code]

In browser parser works great and gives me this result:
[code]

[2015-02-11 23:56] owianbarnett commented on #248
Great feature - Any ETA on master inclusion?
I am using it locally with the current master and find it extremely valuable with any more than a few files in the project that need to be fed into another tool like raml2html for regular republication.

[2015-02-12 13:39] greso opened #284 "Readme example is not working"
Hi,

the example included in the readme is outdated. It still uses eventService that has been removed.

Here is an example that worked for me:
[code]

[2015-02-22 17:00] mrgamer commented on #284
Actually using:

[code]

Makes the preview pane to never appear, still trying to finding out why

[2015-02-24 18:07] hanoii commented on #248
Even a plain file download would help a lot to start with.

[2015-02-24 20:10] mrgamer commented on #233
this should be on README.md, everyone developing a permanence layer will (eventually) encounter this _quirk_

[2015-02-26 20:22] hanoii opened #288 "custom securityScheme not behaving like a trait"
not sure if I understood the spec wrong, but I first defined a secured trait, then I realized I could define it is as a securityscheme, it's a custom one using JWT, however, by doing that, I don't see the responses and headers defined in the describedBy property. I thought that it should behave exactly like a trait.

Am I doing something wrong. This didn't work on the api designer, nor on the raml

[2015-02-27 16:49] jewelsjacobs commented on #269
I have the two combined here: https://github.com/jewelsjacobs/raml-osprey-api-designer

[2015-02-27 21:35] usarid commented on #269
Cool stuff Julia!

On Fri, Feb 27, 2015 at 8:49 AM, Julia Jacobs <notifications@github.com>
wrote:

[2015-02-28 11:21] sichvoge commented on #269
Brilliant!

[2015-03-02 15:11] n4ch03 commented on #276
Thank for your feedback we'll address it asap.

[2015-03-03 18:17] ex-nerd commented on #288
+1 to this.  I know that raml2html has its own issues (on the todo) about displaying the securityscheme info, but it at least shows a "secured by <scheme>" even if it doesn't show the details.  Would love to see something similar in api-designer.

[2015-03-03 18:19] ex-nerd opened #290 "Can't export generated HTML docs"
I know there's `raml2html` but it would be nice to be able to export the generated HTML from `api-designer` as well (they're different, after all).

[2015-03-06 19:45] robertlevy commented on #290
would certainly be nice to have consistency between the two projects

[2015-03-20 20:25] vromero opened #292 "Pressing ctrl(or cmd)+d with a whole line selected deletes the next line"
Open designer and a RAML
Triple click in a line to select the whole line, press ctrl(or cmd)+d to delete the line.
The line+1 will get deleter rather than the current one.

[2015-03-20 20:31] dmartinezg commented on #292
Interestingly enough, `control+d` in a mac does the right thing.

[2015-04-02 05:30] adrianhsieh opened #294 "For Post body, there is no "hints" to help generate the schema?"
When editing the schema for a POST, the hints no longer works?

[2015-04-13 12:18] melissavdh opened #296 "Mocking service base URI forgotten when re-opening RAML after a few weeks"
I opened a RAML file after leaving it untouched for a few weeks.  The toggle for the Mocking Service was ON, but the base URI in the RAML was my real one as opposed to one for the Mocking Service.  It seems as though the state of the Mocking Service toggle was remembered from the last time I used it, but the base URI had been lost.  I had to turn it off and then on again in order for it to work as

[2015-04-13 12:21] melissavdh opened #297 "Turning mocking service off and on again adds extra "mocks/<guid>" to the base URI"
When I first turn on the mocking service the base URI in my RAML becomes:
http://mocksvc.mulesoft.com/mocks/0a7ebfb8-f2c3-4c52-a68b-e8705292e539/api
(1st time on: 1 x "/mocks" in URI)

If I turn it off and on again it is now:
http://mocksvc.mulesoft.com/mocks/8b854c1c-cd4f-4c29-9aa0-b9317e29b262/mocks/0a7ebfb8-f2c3-4c52-a68b-e8705292e539/api
(2nd time on: 2 x "/mocks" in URI)

If I repeat I get:
h

[2015-04-13 12:34] dmartinezg commented on #297
Hi @melissavdh, thanks for reporting this, we'll take a look at what the mocking service is doing, and why this happens.

[2015-04-14 13:53] painbank commented on #248
+1

[2015-04-15 12:56] jcenturion commented on #296
Hi @melissavdh, thanks for feedback. We'll take a look.

[2015-04-15 12:58] jcenturion commented on #294
Hi @adrianhsieh:

Could you paste an extract of the RAML you are using in order to check if an special case?

[2015-04-15 13:00] jcenturion commented on #284
@greso, thanks for reporting this. We'll take a look and update Readme.

[2015-04-15 13:03] jcenturion commented on #276
@rand0m86, It was fixed on the latest version ;).

[2015-04-15 13:45] adrianhsieh commented on #294
#%RAML 0.8
title: jira-to-sfdc
version: 1.0
mediaType: application/json

documentation:
  - title: API for JIRA to SFDC call
    content: REST API for handling calls from JIRA to SFDC

/updateCase:
  description: Updating case in SFDC
  displayName: Update Case
  post:
    description: operation
    body:
      application/json:
        schema: |
          {
            "$schema": "http://json-sch

[2015-04-15 21:20] jewelsjacobs commented on #248
+1 Update?

[2015-04-28 09:22] vsertti opened #298 "Nested item's schema is never shown"
$ref doesn't seem to be parsed by API Designer or raml2html, so the nested item's schema is never shown.
I would like to use nested schema. It does not work.
 http://stackoverflow.com/questions/27055536/raml-nested-schemas

"type": "object",
  "name": "SampleEnumerationListDto",
  "properties": {
    "SampleEvents": {
      "type": "array",
      "description": "Array of sample events",
      "ite

[2015-04-28 10:42] robertlevy commented on #298
+1

[2015-04-28 11:57] dmartinezg commented on #298
This is not entirely a Designer issue, I would argue that this is a limitation of RAML itself.

Can you open an issue in https://github.com/raml-org/raml-spec/issues ?

[2015-04-28 12:55] vsertti commented on #298
Hi !
I opened an issue.
Nested item's schema is never shown #149
Rgs, Veli

Lähettäjä: Damian Martinez Gelabert [mailto:notifications@github.com]
Lähetetty: 28. huhtikuuta 2015 14:58
Vastaanottaja: mulesoft/api-designer
Kopio: Sertti Veli
Aihe: Re: [api-designer] Nested item's schema is never shown (#298)

This is not entirely a Designer issue, I would argue that this is a limitation of RAML itsel

[2015-04-30 14:05] bewilliams opened #299 "Resources View not always showing up"
I noticed that the Resources view (the dynamic and interactive api explorer on the right) does not always show up.  It seems to be linked with creating a new file.  The file I created to start with has it, but creating a new file does not bring that view up.

Is there a way to make it show?

[2015-05-13 16:31] jim-mclean commented on #248
This is the #1 reason why I can't recommend using RAML to my org.

[2015-05-14 01:45] xaka commented on #248
Alright guys, I've finally managed to get it done and now even standalone API Designer supports exporting files as a ZIP archive. Please check out `master` branch and enjoy! :santa:

[2015-05-14 12:01] jim-mclean commented on #248
Works great!  Thanks a bunch!!!

[2015-05-14 13:02] usarid commented on #248
Good to hear! If you have a moment, I'd love to hear how you're getting value out of RAML, what's working and what's not, etc. uri at raml dot org

On Thu, May 14, 2015 at 5:01 AM -0700, "Jim Mclean" <notifications@github.com> wrote:

Works great!  Thanks a bunch!!!

—
Reply to this email directly or view it on GitHub.

[2015-05-14 15:11] rezaloo commented on #248
Awesome work!

On Wednesday, May 13, 2015, Pavel Strashkin <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-05-14 22:46] owianbarnett commented on #248
@usarid Uri,

RAML is great. Thank you et al for the wonderful work in this space. There are hurdles however I find myself working around either due to my limited understanding of the RAML feature set or due to limitations in it.

For example we are building up a library of API services with such different traits as, published services versus unpublished services. The later are simply services we

[2015-05-27 12:20] victorhaggqvist commented on #284
Any update on this?

[2015-05-27 14:24] jmagnusson commented on #247
Agreed. This would be a great addition.

[2015-05-29 18:34] sichvoge opened #305 "Extending Help Menu"
I would like to have more menu items/options inside the API Designer to point people where they can find the specification or the repository to file issues. Right now, I think of the following items:

* RAML Spec
* raml.org website
* Report a Bug
* Getting Started with RAML

[2015-05-29 22:40] rajkumar1979 opened #306 "Running into issue with APIDesigner on linux"
We are trying to test API Designer on a linux machine and by default the API Designer runs on localhost, I tried changing that parameter in the GruntFilejs but it always picks up the default locahost, how can we change this?

Thanks

Raj.

[2015-06-01 12:42] dmartinezg commented on #306
Hi @rajkumar1979, that grunt recipe is just for local development of API designer, I strongly recommend that you host API designer in your own application/web server instead of the grunt task.

[2015-06-01 14:46] rajkumar1979 commented on #306
Could you please share on how you can deploy this and run in tomcat .

[2015-06-01 17:43] rajkumar1979 commented on #306
Hi ,

I would appreciate if you can share some details on what are the best practices of hosting the API Designer in a tomcat server and why we should not rely on the grunt recipe?

[2015-06-02 16:39] rajkumar1979 opened #307 "hosting API designer in tomcat."
Can anyone share some details as how we can deploy API Designer to a tomcat container.

[2015-06-05 15:28] kalisjoshua opened #308 "New Feature - RAML Lint"
Would API Designer be interested in integrating a linter-like feature?

I built such a thing, [RAML Lint][1], and it has been great so far. The next, better, thing would be to get this integrated into the editor that so many of us use to edit RAML.

[1]: https://www.npmjs.com/package/ramllint

[2015-06-06 01:14] usarid commented on #308
That's awesome, let me also forward this to the RAML workgroup mailing
list: info@raml.org

On Fri, Jun 5, 2015 at 8:28 AM, Joshua T Kalis <notifications@github.com>
wrote:

[2015-06-09 12:18] rdohms commented on #220
Yep, this just hit me, thankfully i had a backup to load from.

[2015-06-09 16:25] sichvoge commented on #298
I think that is a limitation on the parser!

[2015-06-09 16:35] sichvoge opened #309 "Repo description contains old link to apihub"
The repository description still points to apihub which is not online any more. The link should be removed or changed.

[2015-06-10 11:51] dmartinezg commented on #306
@rajkumar1979, I do not know how to do this in tomcat.

You would need to build an HTML like this https://github.com/mulesoft/api-designer/blob/master/app/index.html one, and host it within tomcat.

[2015-06-10 11:51] #306 closed

[2015-06-10 11:57] dmartinezg commented on #299
The console view is only available when the file in the left is a .raml file (it has a .raml extension, it has a `#% RAML` header at the top, or it is running on top of a file system abstraction that marks the file as a RAML parseable file)

The reasons for this are many, but it mostly has to do with the fact that if you are editing a non-raml file, what would the console show for it? would you ex

[2015-06-10 13:43] usarid commented on #299
Perhaps this could be handled more intuitively even now, eg by automatically collapsing the console vs not showing it at all, and if the user wonders why and expands it, it could show a help text along the lines of "no RAML file is selected" and a smaller-font lengthier explanation about what constitutes a RAML file (though I understand plugins can override that default definition of a RAML file)

[2015-06-16 14:28] brentryan opened #310 "Cannot delete empty folder"
I have an empty folder in the designer that I can't delete.  When I select delete it gives me an error "The file cannot be deleted" and the folder disappears.  But if you refresh it comes back.

[2015-06-16 14:30] dmartinezg commented on #310
Thanks @brentryan, we'll take a look.

[2015-06-16 14:35] sichvoge commented on #93
This is definitely a great enhancement for the API Console. That said, I will close it in here and re raise it on the console related github repo. I'll post the link in here.

[2015-06-16 14:46] sichvoge commented on #93
see new issue on the api-console github repo https://github.com/mulesoft/api-console/issues/141

[2015-06-16 14:46] #93 closed

[2015-06-16 16:18] sichvoge commented on #248
Hi guys, this feature works brilliantly and therefore I am closing it as there is nothing else to do here.

@owianbarnett could you raise your request on our forums at http://forums.raml.org/. Seems not related to this issue. Thank you :)

[2015-06-16 16:18] #248 closed

[2015-06-16 16:21] sichvoge opened #311 "improve README"
This is coming from another issue and we do see a lot of questions about that. We should make clear where files will be stored using this version of the API Designer.

[2015-06-16 16:28] sichvoge commented on #95
Anyone else has some opinion on that. What about letting people decide where they want to store there files. We could implement some hooks to enable people develop their own "repository" and add that to our API Designer. Then you can configure the API Designer to use a specific "repository". There are many implementation out there which we can merge to that like @brianmc or the local filesystem on

[2015-06-16 16:37] sichvoge commented on #163
@dmartinezg can you please have a look if that can be closed - i am not 100% sure

[2015-06-16 16:39] sichvoge commented on #186
@ricston-git: did you find a solution for this? i am still convinced that the guys will find a solution as this is related to different parts starting with the parser.

do you get the same behaviour when splitting the RAML file into parts?

[2015-06-16 16:41] sichvoge commented on #193
tried the installation guide and it works. I'll close this issue - if anyone experience that again, it can be opened again.

[2015-06-16 16:41] #193 closed

[2015-06-16 16:50] sichvoge commented on #199
@polmiro what is your status on that? are you still working on that?

[2015-06-16 19:35] sichvoge commented on #205
@apomelov, are you still on that? Would be great to understand more what you want to achieve.

[2015-06-16 20:13] sichvoge commented on #208
Fully for using a separate JSON Editor to create JSON schemas and examples. Therefore, can we reopen this discussion, please :)

[2015-06-16 20:15] sichvoge commented on #186
Closing that as it is related to #210

[2015-06-16 20:15] #186 closed

[2015-06-16 20:18] sichvoge commented on #212
Closing this case as it is not relevant anymore.

[2015-06-16 20:18] #212 closed

[2015-06-16 20:35] sichvoge commented on #219
@dmartinezg this is still open and not working. is it a problem coming from the parser?

[2015-06-16 20:37] sichvoge commented on #219
just realised the parsing is not the problem, it's really just a font thing. i'll try to dig dive into that

[2015-06-16 20:42] sichvoge commented on #222
Available with the new API Console v2.0

[2015-06-16 20:42] #222 closed

[2015-06-16 20:49] sichvoge commented on #237
@blakeembrey is this still the case and if yes, what are we going to do to fix that :)

[2015-06-16 20:52] apomelov commented on #205
@sichvoge , hello. To be honest I'm not using API designer now. I understood it is very difficult for me to support actual specification the same time I develop new features:)
But I'll try to describe my issue. May be it will be helpful for somebody else.
The idea was to specify some context for each raml file to activate correct autocompletion. I can say, that "main.raml" has the "root context".

[2015-06-16 20:52] sichvoge commented on #246
@carlskii if that is still something you need to know, i would be happy to invite you to post it again on our forum at forums.raml.org. Hence, I am closing this as it is not really related to the API Designer.

[2015-06-16 20:52] #246 closed

[2015-06-16 20:56] sichvoge commented on #244
Not happening for anymore. Seems to be fixed or maybe it was really an issue with the browser. Therefore, closing it. If it happens again, someone can easily reopen it.

[2015-06-16 20:56] #244 closed

[2015-06-16 20:58] sichvoge commented on #236
@usarid do you know where we are w/ that? it's more related to the api console, therefore i might create a new issue there as a proposal for a new feature. It's pretty cool, therefore I would love to have that in.

[2015-06-16 21:20] sichvoge commented on #227
@brettkroeder a little bit late but you only need to rename the file extension to `.raml` or `.yaml`.

[2015-06-16 21:20] #227 closed

[2015-06-16 21:22] sichvoge commented on #228
closing that as it isn't relevant anymore.

[2015-06-16 21:22] #228 closed

[2015-06-16 21:26] sichvoge commented on #229
It's still there, but as it is related to the [api-console](https://github.com/mulesoft/api-console) - I'll open a new issue there a reference it to this one. Therefore, closing it.

[2015-06-16 21:30] sichvoge commented on #231
@xaka - what's the status on that?

[2015-06-16 21:31] sichvoge commented on #232
@xaka what's the status on that?

[2015-06-16 21:32] sichvoge commented on #247
@blakeembrey @dmartinezg @alejandroschenzle @usarid i think that would be great! what are your thoughts?

[2015-06-17 02:19] blakeembrey commented on #247
:+1:

[2015-06-17 13:11] usarid commented on #236
Nothing to say from my side at this point, other than that I agree that schema in general could benefit from a lot of UX love

[2015-06-17 18:40] sichvoge commented on #236
@dmartinezg, @alejandroschenzle & @blakeembrey what do you guys think of the docson project? shouldn't be to hard to integrate :P

[2015-06-17 18:42] sichvoge commented on #197
fixed in latest merge!

[2015-06-17 18:42] #197 closed

[2015-06-17 18:43] sichvoge commented on #247
As I am not familiar with the process - @blakeembrey would you be so kind to do that or we can have a quick chat and I am doing it by myself. :)

[2015-06-17 18:47] sichvoge commented on #205
I guess I do get what you mean. Currently the API Designer only knows about one file and can't see what's around it (files included). You suggest that we should make the editor more "context" aware, so that the current "view/editor window" knows about all included files. Am I right?

[2015-06-17 18:56] robertlevy commented on #205
big +1 on this.  we choose RAML over alternatives because it lets us split stuff into lots of small reusable files.  but api-designer currently isn't super useful unless you are only editing the 'main' RAML file.
Date: Wed, 17 Jun 2015 11:47:36 -0700
From: notifications@github.com
To: api-designer@noreply.github.com
Subject: Re: [api-designer] Raml document decomposition (#205)

I guess I do get w

[2015-06-17 19:26] robertlevy commented on #236
docson looks like it makes a lot of assumptions about how to load files.  would be great to see this type of UX integrated but it probably needs a refactoring first

Date: Wed, 17 Jun 2015 11:40:59 -0700
From: notifications@github.com
To: api-designer@noreply.github.com
Subject: Re: [api-designer] Request/response schema/example  (#236)

@dmartinezg, @alejandroschenzle & @blakeembrey what do you g

[2015-06-17 21:34] sichvoge commented on #236
@robertlevy refactoring the designer or docson?

[2015-06-17 21:37] sichvoge commented on #205
OK - seems to be really useful. To make a better justification for that, @robertlevy can I ask you to also provide some more context on the problem which such a feature would solve on your end and what "isn't really useful" means. It would help to better understand what needs to be implemented.

[2015-06-17 21:40] robertlevy commented on #236
Refactoring docson so it can pull from an abstract storage system (like the designer already does)

[2015-06-17 21:58] robertlevy commented on #205
Over the course of a project we spend way more time tweaking these secondary files (especially schemas and examples) than the main RAML file.

Low hanging fruit would be to have the pretty documentation pane stay open and up to date while changing other files.

Even better would be having autocomplete account for traits/types/schemes defined in other files.

There may also be an opportunity to sho

[2015-06-18 08:22] sichvoge commented on #205
"Low hanging fruit would be to have the pretty documentation pane stay open and up to date while changing other files." +1 -> Definitely, especially editing markdown files. The console should also save state and stay at a view when you save a file. Currently, the api console automatically switch back to the list of resources.

"Even better would be having autocomplete account for traits/types/sche

[2015-06-18 08:23] sichvoge commented on #236
Do you think it makes sense to contact him, or do you think it make sense to fork and work on that?

[2015-06-18 08:35] #247 closed

[2015-06-18 11:14] sichvoge commented on #223
This issue is not related to the api-designer instance, but more to MuleSoft's Anypoint Platform product. Therefore, I am closing it.

[2015-06-18 11:14] #223 closed

[2015-06-18 11:52] sichvoge commented on #211
It does not appear to happen anymore in the current version.

[2015-06-18 11:52] #211 closed

[2015-06-18 13:26] sichvoge commented on #309
Fixed! Pointing to https://anypoint.mulesoft.com/apiplatform/ currently as there is a hosted version of the designer available. In the future, we will provide a standalone version and change the link again. Anyway, closing that for now.

[2015-06-18 13:26] #309 closed

[2015-06-18 13:34] sichvoge commented on #299
This is tightly related to issue #205. There are ideas that it would be helpful to keep the api console open when you edit a json file or markdown so that you immediately see the content. That would make editing easier as you get the same UX as with editing a RAML. Hope it is clear what I mean by that.

To have that, we need to keep the state of the console as every time you save a file - it goes

[2015-06-18 13:39] sichvoge commented on #298
closing this issue as the root problem is the current implementation of the parser as discussed in raml-org/raml-spec#149. A new implementation is currently in development and shall fix the problem.

[2015-06-18 13:39] #298 closed

[2015-06-18 13:43] sichvoge commented on #297
Waiting for about 30sec helps - it happens when you immediately switch it on, off, and on again.

[2015-06-18 14:41] blakeembrey commented on #299
There'll need to be some changes with the console so it doesn't constantly reset and instead reflects updates correctly, but having button to open the console (e.g. pinning it as a second pane) would be a massive improvement. We need the concept of opening/closing to exist because you can have multiple root RAML files. Another idea is to look up the root based on includes, but that suffers the sam

[2015-06-18 14:45] sichvoge commented on #311
Additionally separate the documentation between consumer and developer. Consumer should only have a clear step by step explanation of how to install and run the api-designer, where as the developer might need more or different information.

[2015-06-18 14:47] sichvoge opened #315 "Make api-designer executable with a simple command."
As we have the api-designer inside the npm repository - we should make sure that it is easy to execute via a command, such as `api-designer`.

[2015-06-18 15:03] #311 closed

[2015-06-18 16:28] sichvoge commented on #299
Question is how much effort something like that takes? And what that change influence?

[2015-06-18 16:47] sichvoge commented on #288
It's showing up in the api-console now. Therefore, closing it.

[2015-06-18 16:47] #288 closed

[2015-06-18 16:58] sichvoge commented on #276
as it is fixed - i am closing it @jcenturion

[2015-06-18 16:58] #276 closed

[2015-06-18 17:02] sichvoge commented on #275
closing this as it is related to the parser and not the designer.

[2015-06-18 17:02] #275 closed

[2015-06-18 17:03] sichvoge commented on #274
closing this as that has been fixed with the latest commit

[2015-06-18 17:03] #274 closed

[2015-06-18 17:05] sichvoge commented on #269
I will turning this to a enhancement request as it would be really nice to have osprey as the out of the box mocking service for the standalone designer.

[2015-06-18 17:08] sichvoge commented on #266
Just to add something here, it would be great to save the state so that if I am going to a different file and come back, all the previous collapsed elements are still collapsed. Same with the expanded ones.

[2015-06-18 17:09] sichvoge commented on #262
That is not really trivial. What happens with included files? Especially when they are included via http

[2015-06-18 17:11] sichvoge commented on #257
@blakeembrey what's the current status of this? What happens when you change a remote file?

[2015-06-18 17:11] sichvoge commented on #256
@blakeembrey what's the status on that issue?

[2015-06-18 17:28] sichvoge opened #317 "Improving the menu UX"
Currently, we have a very minimalistic menu which I would like to improve to make it more visual attractive. Additionally, I want to extend it and modify the existing menu items.

At the moment I am thinking of having the following menus based on existing standard IDEs (and I am open for any suggestions):

Main: Project
Sub: New File, New Folder, Save, Save All, Import, Export

Main: Generate
Sub:

[2015-06-18 22:02] sichvoge commented on #305
Just to give an update - this is what I have right now.

![image](https://cloud.githubusercontent.com/assets/498114/8243321/01072d7e-160e-11e5-921f-296312a9f8cb.png)

Can someone point me to the CSS related to the submenu?

[2015-06-18 22:08] sichvoge commented on #305
Update: Changed "Getting Started with RAML" to "RAML Tutorial"

[2015-06-19 03:46] blakeembrey commented on #257
Nothing has changed, unless I've missed something. You can't watch for changes of a remote file. IIRC, this is mostly an issue of the current file system and issues with the information flow and how changes to the filesystem propagate.

[2015-06-19 03:48] blakeembrey commented on #256
Same status as when created. No work has been done on trying to cache intermediate state and it would require changes to the RAML parser.

[2015-06-19 12:52] #315 closed

[2015-06-19 13:40] dmartinezg commented on #305
Do we have a standard width for menus? if we do, let's make sure that menu lines do not wrap, `RAML tutorial` seems shorter.

The alliteration of the word RAML everywhere can probably be avoided.

[2015-06-19 13:43] sichvoge commented on #305
I am looking for the CSS w/o success so far.

[2015-06-23 10:47] blakeembrey opened #320 "File menu blocks click propagation"
The file menu blocks click propagation which causes issues on other components relying on the click propagating to the window.

![image](https://cloud.githubusercontent.com/assets/1088987/8304428/115536a6-19e9-11e5-87a7-0d456e4e3568.png)

[2015-06-23 10:56] blakeembrey opened #321 "API designer implicitly relies on CodeMirror from API console"

[2015-06-23 11:46] thulasigit opened #322 "npm install fails with error"
Tried doing "npm install -g api-designer".  I get the error
error code ENOENT
error errno -4058
error enoent ENOENT, chmod 'C:\Users\xxxx\AppData\Roaming\npm\node_modules\api-designer\bin\api-designer.js'

[2015-06-23 11:56] #322 closed

[2015-06-23 11:59] blakeembrey commented on #322
@thulasigit Thanks for the report :+1: Try again with the latest version now.

[2015-06-24 18:10] jewelsjacobs commented on #269
This has become very difficult for me to maintain with the updates to mongodb and api-designer.  Currently my project is broken. :(

I could really use some help with this . . .

[2015-06-24 20:27] sichvoge commented on #269
@jewelsjacobs, what kind of help do you need?

[2015-06-24 20:50] jewelsjacobs commented on #269
The full sad tale . . .

Here's my app:

https://github.com/jewelsjacobs/raml-osprey-api-designer

It's a mashup of osprey for mock data, mongoDB as a datasource, raml2html for documentation and api-designer as the RAML editor.

I wanted to update it so I could use the new api designer features (create new folders and export files).  Because I'm using mongodb as a datasource, that requires some tr

[2015-06-24 21:35] sichvoge commented on #269
Maybe you want to help us to get Osprey as the mocking server into the api-designer? @blakeembrey can you help here please.

Do you still need to do a demo to the PayPal guys or anyone else?

[2015-06-24 21:41] jewelsjacobs commented on #269
@sichvoge yup thats him, he sent me a twitter DM:

[2015-06-24 21:52] sichvoge commented on #269
Sounds good, please let me know what I can do to help you!

[2015-06-28 14:58] sichvoge commented on #310
Can't happen to reproduce that. It has been the same just once for me, but then trying to reproduce it couple of time - nothing. :/

@brentryan can you try again with the current master and let us know if you have the same problem!

[2015-06-28 15:03] sichvoge commented on #307
@rajkumar1979 can you clone the current master and build it via `grunt build` and then look at the `dist/` folder. I think you've got everything you need in there, just take those files and execute the necessary steps to deploy it to Tomcat.

[2015-07-01 13:58] vromero opened #326 "Accesing an included file clicking on iit"
When the number of !included examples is high is difficult to find the actual file.

It would be nice to be able to cmd+click (or similar) the !include file line and go to the aforementioned file.

[2015-07-01 14:52] vromero opened #327 "Return to the same vertical scroll position on file browsing"
It's bugging me a lot every time I go to an example, when I go back to the raml file I'm back on the line 0 rather than on the line I was when I browsed the example.

[2015-07-02 02:03] brentryan commented on #310
@sichvoge I just tried this again and got the error

Bad Request

This file cannot be deleted

I did this within api designer here https://anypoint.mulesoft.com/apiplatform/brentryan/admin/#/organizations/1e4c4284-702e-421f-a318-10625ed74a45/dashboard/apis/16831/versions/17965/designer#answers

I have an empty folder that I'm trying to delete, but can't....

[2015-07-02 11:40] sichvoge commented on #327
guess it has something to do with CodeMirror and the current implementation of using the same instance through multiple files. @blakeembrey  pushed a PR for this - that might help to get this done as well. Any comments from anyone?

[2015-07-02 11:43] sichvoge commented on #326
Do you volunteer @vromero :P

[2015-07-02 21:44] reinanchan opened #328 "Adding HTML Table in a description causes an issue with the designer."
I'm having an issue where I want to insert a table into a description, and when I view it on the API Designer it leaves a big blank white space area before the table.

    /products
        displayName: Products
        get:
            description: |
                <table style = "width 100%">
                  <tr>
                     <td>Jill</td>
                     <td>Smith</td>

[2015-07-08 04:19] joshrivers opened #329 "Response Body not rendering"
Using latest, when I post a API call, the response does not render in the body box until I resize the browser and get CodeMirror to reflow.

[2015-07-08 12:19] sichvoge commented on #329
Hi @joshrivers, can you post more details about the environment you're running the API Designer on?

[2015-07-08 22:54] joshrivers commented on #329
Tried with api-designer trunk and 0.0.3 from NPM
$ node -v
v0.12.5

Mac OS X 10.10.3
Chrome Version 43.0.2357.132 (64-bit)
Safari Version 8.0.6 (10600.6.3)
Firefox 38.0.5

[2015-07-09 09:48] netwolfuk commented on #284
@greso Thank you!
@jcenturion Please update the readme. I've wasted a few hours on this.

[2015-07-09 09:50] mrgamer commented on #284
there #325 pending, does that looks okey to you? there are no comments there

[2015-07-09 21:59] sichvoge commented on #284
we will merge it soon, no worries - there is just a final "review" necessary

[2015-07-11 17:16] #284 closed

[2015-07-13 10:44] robjens commented on #317
How about a way to actually *open* a file? Or am I missing something crucial. All to do now is to copy paste content, since `api-designer <filename>` doesn't work as e.g. sublime or atom.

[2015-07-13 15:44] sichvoge commented on #317
You're right! Today, we don't support opening files via command lines as this version does not provide storing files on the filesystem. It still relies on the browser cache and therefore needs to be imported. Speaking of importing files, you could potentially zip your files and use the `Import` menu to get your RAML inside the designer w/o having to copy&paste.

We potentially provide a version wh

[2015-07-14 07:27] RyanZhu1024 opened #330 "just tried with api-designer. hope it can has a auto save function"
it'a great tool. but maybe it's because I use IDEA too much without worrying saving files. Every time I change the content and forget to save, and switch to another file and switch back, all the content just added had gone. Sometimes when I edit too much and then realise I have to do those again, really frustrating... Just hope it can have an auto save function.

[2015-07-14 16:00] usarid commented on #330
Hmm, it *is* supposed to warn you if you try to switch to something else
and may lose your data. Is there a specific reproducible scenario? That
would be great -- we should do *everything possible* to avoid losing data.

On Tue, Jul 14, 2015 at 12:27 AM, Ryan <notifications@github.com> wrote:

[2015-07-14 17:30] sichvoge commented on #330
I can't confirm the behaviour right now. :/ Having the reproducible scenario would be great

[2015-07-15 02:03] RyanZhu1024 commented on #330
@usarid @sichvoge it's odd... I can't reproduce it... I was using safari on Mac Yosemite yesterday, added some raml in a raml file and changed to a schema file in the same project. didn't close the web page. And then switched back to the previous raml file, and some content just typed was lost... But I did it again just now and all were there, nothing lost... have no idea... is there a way to star

[2015-07-15 10:14] sichvoge commented on #330
There is no debug mode for the api-designer per se, but you can use inspecting tools of your browser to debug through the application. If you use Chrome I can recommend the *AngularJS Batarang* extension.

But you're right, it would be good to have some debug output to actually enable users to send us a complete stack trace. I'll close this issue as it is not relevant. If more than one can re-prod

[2015-07-15 10:14] #330 closed

[2015-07-15 10:16] sichvoge commented on #329
Hi @joshrivers,

seems to me that this one is more related to the api-console. I'll create a separate issue there and close this one.

[2015-07-15 10:16] #329 closed

[2015-07-15 10:20] sichvoge opened #331 "adding debug output"
It would be good to have kind of a "debug" mode to help identifying problems better. The "debug" mode can be enabled, for example, by simple start `api-designer --debug_mode=true` or something.

People could use the debug mode to post the stack trace to github, so it is easier for us to identify the root cause.

For debugging we could use https://github.com/visionmedia/debug.

[2015-07-15 10:22] sichvoge commented on #328
Hi @reinanchan,

can you try something for me, please. Could you download the standalone console and post your RAML in it to see if that is a problem of the console or the designer pushing that into the console.

https://github.com/mulesoft/api-console

[2015-07-15 19:35] juancoen opened #332 "Import from swagger zip is not working"
The test is failing.

Details:
PhantomJS 1.9.8 (Mac OS X) swaggerToRAML parse zip files should respond with RAML FAILED
	TypeError: 'undefined' is not a function (evaluating 'swaggerToRamlObject.files')
	    at /Users/juan/Projects/api-designer/app/scripts/services/swagger-to-raml.js:6
	    at /Users/juan/Projects/api-designer/bower_components/angular/angular.js:11682
	    at /Users/juan/Projects/

[2015-07-15 20:22] juancoen commented on #332
my bad, I had some old dependencies

[2015-07-15 20:22] #332 closed

[2015-07-16 21:56] netwolfuk opened #335 "Trying to implement my own "MyFileSystem""
Hi, I'm trying to implement a local file store similar to the @brianmc raml-store. There are also some like the fork of raml-store by @arthurtsang

However, when I run a recent copy of dist/ from api-designer's master.zip I am getting the following error.
[code]

I have tried to remove the requirement to do anything on the server and am therefore just building the data locally.
[code]

The code fa

[2015-07-21 05:48] sichvoge opened #336 "[Swagger Import] https based URLs are rejected"
When trying to import a Swagger 1.2 file via https API Designer fails. Seems to be an error since `/proxy/` is added in front of each URL and there is an https pattern check at https://github.com/mulesoft/api-designer/blob/6702313a559f552e01e01729ce333891a4f50fa9/app/scripts/services/swagger-to-raml.js#L11

For example: https://github.com/strongloop/loopback-swagger/blob/master/example/pet-store-1

[2015-07-21 05:51] sichvoge commented on #336
@blakeembrey can you please add some tests to it when you're finished

[2015-07-21 05:54] sichvoge opened #337 "[Swagger Import] zip files should also recognize a single file"
Currently, when I zip a single file with a single description, for example, the petstore https://github.com/strongloop/loopback-swagger/blob/master/example/pet-store-1.2.json, it fails. The zip importer should recognize single description files inside a zip as well.

Steps to reproduce:
1. download the https://github.com/strongloop/loopback-swagger/blob/master/example/pet-store-1.2.json file
2. co

[2015-07-21 06:01] sichvoge opened #338 "drag and drop into the sidebar is not working any more"
you’re meant to be able to drag a file onto the sidebar and drop it. it’s currently erroring because the function is getting the jquery event and not the native event

[2015-07-22 21:20] juancoen opened #342 "RAML hints sometimes appear in non-RAML files"
I don't have steps to reproduce this 100% of the times, but sometimes I get RAML hints (protocols:, documentation:, etc.) in non-RAML files.

I've been able to reproduce this in standalone mode and in embedded mode.

Steps that sometimes result in this are:
- Have two RAML files and on JSON file
- Select the JSON file
- Select the non-root RAML file and delete it
- The editor should open the JSON

[2015-07-22 21:35] #220 closed

[2015-07-24 02:45] netwolfuk commented on #284
@greso Are you able to share your code? Even with the code fix in your readme, I am still having problems getting it working. I have raised a new issue #335 and posted on the RAML Forum http://forums.raml.org/t/api-designer-implementing-my-own-myfilesystem/961

[2015-07-24 07:44] blakeembrey commented on #335
@netwolfuk Your `.directory` function needs to resolve an object that looks like:

[code]

[2015-07-25 09:28] netwolfuk commented on #335
Thank you @blakeembrey
I've made some good progress now thanks to your pointers.

[2015-07-25 09:28] #335 closed

[2015-07-29 15:48] fschargorosdky opened #344 "Changing the file header makes the drawer dissapear"
If the user changes the
[code]
at the beginning of the file, the bottom drawer disappears and doesn't return until the header is fixed.

If the user changes only the version in the header, it only displays an item: #%RAML 0.8
Placing the cursor in another lines displays all the items as designed

[2015-07-30 12:57] sichvoge commented on #344
What's the issue? The header is used to identify that the current document is a RAML file. If you don't have that, the API Designer does not recognise it as such and therefore the drawer disappears.

[2015-07-30 14:06] fschargorosdky commented on #344
The problem is when an inexperience user enters, clicks a drawer option and modifies the header. The drawer disappears and the user has no idea what he did wrong.

[2015-07-30 14:35] sichvoge commented on #344
OK understand - what do you think could be a good way to prevent/notify the user?

[2015-07-30 16:04] fschargorosdky commented on #344
If it's a .raml file with a wrong header notify the user and propose him a correct header.
Perhaps mark it as a syntax error

[2015-07-31 05:29] sichvoge commented on #344
The problem here is that you could have RAML files without a header as well as they might be child type files for a parent RAML that contains the header

[2015-08-10 20:18] reinanchan commented on #328
Hey @sichvoge,

Yeah this issue also occurs in the console and the mulesoft liveportal.

[2015-08-11 04:43] sichvoge commented on #328
It should be fixed with PR #345. Could you get the newest version of the designer please and try again.

[2015-08-11 15:30] reinanchan commented on #328
![htmlramlissue](https://cloud.githubusercontent.com/assets/4668256/9201661/d1bdc12e-4013-11e5-942b-35b446c1aaaf.PNG)

I installed the newest one, but with html it still has the same issue.

[2015-08-11 17:35] sichvoge commented on #328
@jcenturion could you please have a look on that?!

[2015-08-11 17:36] sichvoge commented on #328
@reinanchan could you try to use markdown table notation please?! Have a look on the PR for an example

[2015-08-20 10:34] vizigoth opened #347 "Named Parameters With Multiple Types don't appear in documentation"
API-designer version: 0.0.5
Browser: Chrome version: 44.0.2403.155 (64-bit)
OS: Mac OS X 10.10.5

The RAML 0.8 spec says that "... the value of the named parameter property MAY be an array of mappings ...", with a named parameter defined as "URI parameters, query string parameters, form parameters, request bodies (depending on the media type), and request and response headers".

I can define a nam

[2015-09-15 14:22] jmagnusson commented on #199
Would be nice to see something happen with this. I don't know how to version control my files without having them on the filesystem...

[2015-09-15 14:27] jmagnusson commented on #199
Perhaps this project could be used as a base https://github.com/colthreepv/express-raml-store. Works fine for me.

[2015-09-23 21:15] sdarwin opened #356 "Mocking Service Off"
Hello,
we just installed Mulesoft API Designer on a local machine and it appears to be working in every aspect except one, which is that the Mocking Service button says Off, and clicking On does not change it to On.  I am very new to this product, so the answer might be quite a simple one. What should be configured to turn this on?
Thanks,
Sam

[2015-09-25 15:56] sichvoge commented on #356
You should be able to turn it on by simple clicking on the mocking service button. Can you add a GIF showing your use case.

[2015-09-25 16:14] sdarwin commented on #356
see attached screenshot.
this is on Ubuntu 14.04, node v4.1.0, cloud virtual machine, both firefox and chrome browsers.
nothing in particular has been set up or configured.
![raml](https://cloud.githubusercontent.com/assets/1257803/10105782/9e94769c-637e-11e5-8146-1a1d5dc87f66.png)

[2015-09-25 16:20] dmartinezg commented on #356
Pretty interesting, how are you hosting designer?
Do you see any errors in the JS console?
Does the VM have access to the internet?

[2015-09-25 17:16] sdarwin commented on #356
npm install -g api-designer
api-designer

Do you see any errors in the JS console?
yes!   where www.example.com would be our server's name, here is the error:

http://www.example.com:3000/scripts/api-designer-vendor.js 21674

POST http://www.example.com:3000/proxy/http://mocksvc.mulesoft.com/mocks 404 (Not Found)

line 21674 is

xhr.send(post || null);

Does the VM have access to the internet?

it

[2015-10-06 19:14] vromero opened #359 "Check examples against schema"
This is just a wish, but if examples and schemas are given, examples should be tested against the given schemas for a less error prone apis.

[2015-10-06 19:21] robertlevy commented on #359
+1.  We created a custom tool for this but it should ideally be part of raml-parser.

[2015-10-07 13:26] sichvoge commented on #359
Indeed, we are currently working on couple of tooling where this kind of validation is a big part as well. News coming soon ;)

[2015-10-21 23:59] #336 closed

[2015-10-22 00:00] #338 closed

[2015-10-22 02:55] #337 closed

[2015-10-22 15:49] sichvoge commented on #305
Done with PR #319

[2015-10-22 15:49] #305 closed

[2015-10-27 03:55] Parakleta opened #365 "Swap node-open to opn"
node-open is effectively abandoned and using an old version of xdg-open that doesn't work on FreeBSD.  Please change to opn which is actively maintained.

[2015-11-02 08:14] sichvoge opened #366 "Import RAML from URL"
Currently, the API designer is only able to import files from a ZIP or Swagger Spec. To further enhance usability, it would be nice to also be able to import a RAML from a URL.

Original request: http://stackoverflow.com/questions/33399498/mulesoft-api-designer-auto-load-raml-file/33473192#33473192

**Notes:** Guess `includes` will be difficult to handle in these scenarios. Maybe an export via ema

[2015-11-05 11:30] rvegas opened #369 "Give support for RAML 1.0"
Is there a milestone in the roadmap to support RAML 1.0?
Types and Examples are key improvements that would be very nice to have.

[2015-11-05 11:56] dmartinezg commented on #369
Hi @rvegas, we are currently spiking to calculate the effort needed, but I can assure you, we will be updating both, designer and console.

thanks

[2015-11-07 11:59] tvervest commented on #369
+1 looking forward to 1.0 support :+1:

[2015-11-10 09:50] YvanDaSilva commented on #369
That would be really sweet.
Also to have a proper documentation & manualtesting generation like raml2html, sadly has no time to pursue his projects based on raml.

[2015-11-10 22:57] vganesh opened #370 "import files from a zip file not working correctly."
Steps to be followed to reproduce this issue.

1. Start api-designer
2. Get all the files from git clone https://github.com/raml-org/raml-tutorial-200.git
3. Create a zip files that has all these files.
4. Import it from the API designer.
5. Error is: file with path "/jukebox-include-song.schema" does not exist.
6. This file does exist. You can see it listed on the left pane.
7. If you create a va

[2015-11-11 11:47] dmartinezg commented on #370
This is a known behaviour, importing files does not save them automatically, and hence the parser does not *see* it.

I *personally* would like import to save all files.

:+1: if you would like that change.

[2015-11-11 20:54] sichvoge commented on #370
+1

[2015-11-12 18:19] vganesh commented on #370
Thanks. I can verify verify if I save files after import, then I can verify it works as expected and the error I had mentioned disappears.

[2015-11-12 18:19] #370 closed

[2015-11-13 11:36] h4t0n commented on #369
+1 :+1:

[2015-11-14 21:58] sichvoge commented on #369
@YvanDaSilva Can you confirm, you want to have an option inside the designer to generate documentation such as raml2html?

[2015-11-15 09:05] YvanDaSilva commented on #369
Well there is two ways to do this:
- use an external product like "raml2html" that does extrac documentation from a RAML
or
- directly be able to build & extract html documentation (preferably with testing integrated like the designer is able to do) from the designer.

[2015-11-16 09:09] sichvoge commented on #369
We could integrate with the PHP project for raml2html - https://github.com/mikestowe/php-raml2html. That is still in maintenance.

[2015-11-18 00:40] ty10r commented on #328
I'm actually seeing a possible cause of this issue in api-console at:
https://github.com/mulesoft/api-console/blob/master/src/app/app.js#L44

With the markdown breaks true, every linebreak in the text becomes a </br>. This causes a long list of br after the table, depending on the number of newlines in it.

I will make a pull request with the change, but I'm curious if this break strategy is the o

[2015-11-18 01:06] ty10r commented on #328
@reinanchan

could you instead try to use github flavored tables?
[code]

Would become:

| First | Last | Age |
| -------|-------|------ |
| Jill | Smith | 50  |
| Eve | Jackson | 94 |

[2015-11-20 12:16] davidmoss commented on #369
+1  :+1:

[2015-11-20 12:52] sichvoge opened #372 "Integrate Documentation Generation Tool into API Designer"
Taking the discussion on issue #369 in consideration, it might be a good idea to integrate a documentation tool like [raml2html](https://github.com/kevinrenskers/raml2html) or [php-raml2html](https://github.com/mikestowe/php-raml2html) into the API Designer. Perhaps through a new menu item `Tooling`. This new menu could be used for other tooling as well in the future.

[2015-11-20 12:52] sichvoge commented on #369
I created a new issue for the documentation generation integration. https://github.com/mulesoft/api-designer/issues/372

[2015-11-20 12:54] dmartinezg commented on #372
I think that the way forward for things like this should build a plug in system, where anybody can install and enable/disable them and designer pick it up within a `Tools` submenu

We can initially write some of the plugins, like raml2html.

[2015-11-20 13:10] sichvoge commented on #372
Yep, that sounds reasonable and the right move IMHO. +1000

[2015-11-22 13:37] lowmemory commented on #356
Any news?
I've the same problem.

Tried to git clone the project and build it but I got errors.

npm install

these are the last teminal lines:
...
7 verbose lifecycle api-designer@0.0.6~prepublish: CWD: /home/marco/Scrivania/RAML/api-designer
88 silly lifecycle api-designer@0.0.6~prepublish: Args: [ '-c', 'npm run build' ]
89 silly lifecycle api-designer@0.0.6~prepublish: Returned: code: 1  signa

[2015-11-22 20:07] sichvoge commented on #356
We'll investigate. Thank you again for raising it.

[2015-11-23 19:10] sdarwin commented on #356
actually, it's probably a different issue.

I did not get errors building the project.       The problem was only a very small and specific one:  "Mocking Service Off".  it wouldn't turn on.

BTW, we are using https://github.com/colthreepv/express-raml-store, you might check that out, its a wrapper to api-designer.   If you get express-raml-store running, then you will have api-designer also.

[2015-11-30 23:49] aaronpark commented on #213
I am also running into this issue

[2015-12-02 10:18] damirv commented on #369
Can you give an ball park estimate when 1.0 will be supported? Are there currently any other tools available that can generate docs for a 1.0 spec?

On a side note: I'm just starting out with RAML. After reading the 1.0 spec and playing with it in Atom, I noticed a few mistakes in the examples, probably outdated syntax; I will report these in another issue.

[2015-12-02 10:46] sichvoge commented on #369
@damirv are those mistakes on the RAML.org website?

Regarding any estimated date for the support, you might have seen that RAML 1.0 is in (RC) stage and there will be some changes to the spec based on couple of feedback from the community. We are currently testing the parsers by integrating them into the api-console. We will have an MVP soon, but plan to have the full tested support by late 2016Q

[2016-01-05 12:42] jamesHau commented on #356
This helped me.

1. Fix RAML.Settings.proxy
In the javascript console you have to reset the RAML.Settings.proxy property.
So I ran
delete RAML.Settings.proxy

2. Enable CORS
Since I'm using chrome I just took a plugin from the market and enabled it. (I took the one by vitvad)
Enable it when you are in the api-designer.

And now it worked for me. GL

[2016-01-26 09:51] philsparkventures opened #375 "Requests to /proxy arent being proxied"
Am I missing something?

When I install and run api-designer the local express isnt doing any proxying but the browser client is relying upon the proxying.

Why isnt the local express server proxying?

[2016-01-29 02:04] ProLoser opened #376 "Importing folders creates broken folders"
So I imported a zip with several folders and subfolders containing files I !include a lot. However all references to these included files failed. BUT if I create a NEW folder and NEW file from WITHIN the designer, then the includes WORK. I cannot rename imported folders or delete them it seems. This is making a huge PITA for me.

[2016-01-29 02:05] ProLoser commented on #376
Closing this as a duplicate of #370

[2016-01-29 02:05] #376 closed

[2016-01-29 05:40] iericzhu opened #377 "The “Try It” function always sends an “OPTIONS” request in both API-Designer and API-Console"
Hello, there,

I am using RAML API-Designer and API-Console to design our REST API.
I got a problem for the "**Try It**" function, both in API-Designer and API-Console, when I use "Try It" for a "PUT, POST, DELETE" method, the browser always sends an "**OPTIONS**" request to the server.

Here is one of the request header. As you can see, I am trying a **PUT** request to the server, but the browser

[2016-01-29 06:32] iericzhu commented on #377
Sorry to bother, but I did not make a very clear understand of the installation document.
I forgot to enable CORS on my API server.
Now I have got the correct response from API server.
But thanks again anyway.

Eric Zhu

[2016-02-12 13:51] nash-ye commented on #369
1+, I hope to see more support for RAML 1.0 very soon. :)

[2016-02-14 14:30] stevenpollack commented on #369
+1 -- API Designer has one killer feature that Atom clearly does not: mocks. It'd be sweet if we could get RAML 1.0 support.

[2016-02-16 18:45] sichvoge commented on #369
Its in development; the first part here is the API Console that is embedded here in the designer. You already find couple of commits around the RAML 1.0 support in the console branch.

[2016-02-25 03:26] hualuomoli opened #378 "文件路径不存在"
编写raml文档时，schema文件放到schema的目录下，使用!include 引用，但是提示`文件路径不存在`的错误

schemas:
  - respWithoutDataSchema: !include schema/resp-without-data.schema
  - pagedSchema: !include schema/paged.schema

[2016-02-25 03:30] hualuomoli commented on #378
https://github.com/mulesoft/api-designer/issues/370

[2016-02-25 03:30] #378 closed

[2016-02-26 18:33] michaelgriffithus opened #379 "No way to turn shelf back on in raml editor"
I accidentally turned off the shelf by clicking on the shelf icon. Now it does not appear and no way to turn it back on.

[2016-02-26 18:36] dmartinezg commented on #379
The shelf only shows up when you are in a RAML file (the extension is  `raml`).

If you are not in a RAML file you will not get the icon at all. If you are editing a .raml file, and the shelf does not show up, it may be a bug indeed.

[2016-02-26 18:38] michaelgriffithus commented on #379
File is  extension is .raml See screenshot
https://www.dropbox.com/s/a6yk0mfiajgfhhv/Screenshot%202016-02-26%2013.37.27.png?dl=0

[2016-02-26 18:42] dmartinezg commented on #379
On Anypoint Platform specifically there is an issue with 100% vertical space not taking into account the navigation bar, then there is a vertical scroll, which hides the bottom of the page. Perhaps in your case you cannot scroll vertically either (if I scroll down I can see the icon, when collapsed).

I will pass this along to that team of devs, but it probably is an issue on the Anypoint Platform

[2016-02-26 18:43] michaelgriffithus commented on #379
exactly the problem, the scroll bar is neither visible or obvious.

Thanks!

[2016-02-26 18:49] dmartinezg commented on #379
Vertical scroll on that page has been a thorn on my side for too long. Thanks! I'll close this one.

[2016-02-26 18:49] #379 closed

[2016-03-01 22:10] arubalac opened #380 "Request entity too large - API designer issue"
Hello,

I pasted a RAML  in a new RAML file inside the API designer but It was throwing erorr reporting that "**Request Entity too large**" . What I understand about the same from the mule forum is that after a certain range of sizer\length the designer is not able to hold the file.

The RAML which I am using is already a trimmed down version with all the necessary segregation done.
Could you plea

[2016-03-09 13:00] sichvoge opened #384 "Missing `headers` in the palette"
![image](https://cloud.githubusercontent.com/assets/498114/13635920/b9a2297a-e5f6-11e5-91a5-2b46760f9bc5.png)

According to the 0.8 spec, one should be able to define `description`, `body`, and `headers` to a HTTP status node. I am able to define it and it passes validation, but as you can see in the image above, it's not part of the palette and it's also missing in the auto-completion.

[2016-03-09 14:08] usarid commented on #384
headers (plural), not header

On Wed, Mar 9, 2016 at 5:00 AM -0800, "Christian Vogel" <notifications@github.com> wrote:

According to the 0.8 spec, one should be able to define description, body, and header to a HTTP status node. I am able to define it and it passes validation, but as you can see in the image above, it's not part of the palette and it's not in the auto-completion.

—
Reply to this

[2016-03-09 14:53] sichvoge commented on #384
Changed it!

[2016-03-22 20:18] marstein opened #385 "Gradle plugin build deploy/upload"
Since no 1.3.5 version or snapshot is available I tried to deploy to my local repo. I changed all the snapshot repos to my own. When I do a _mvn deploy_ the deployed raml-gradle-plugin-1.3.5-SNAPSHOT.jar (from the raml-for-jax-rs/raml-to-jaxrs/gradle-plugin/targetdirectory) does not contain the .class files (e.g. CodeGeneratorTask). The artifacts downloaded from my local nexus repo fail with a Cla

[2016-03-22 20:23] #385 closed

[2016-03-22 20:23] marstein commented on #385
Sorry, wrong project. :-(

[2016-03-28 18:41] R0cKET commented on #356
+1

[2016-04-08 19:38] ntregillus opened #386 "cannot import attached raml file for APIkit"
I have been working on exposing an api via mule for a while, and I tried to write a very clearly defined RAML doc, but it keeps failing with a generic "not raml" error. see stack overflow link below for further information regarding the message:
http://stackoverflow.com/questions/36464313/anypoint-studio-cant-load-raml-for-apikit-but-it-also-says-nothing-is-wrong-wi/36464939?noredirect=1#comment60

[2016-04-12 10:57] sichvoge commented on #386
Hi, I answered you on Stackoverflow already. I'd not have that issue here since it seems to be a problem in APIkit. Let's keep it there and close this one, ok?

[2016-04-12 12:50] ntregillus commented on #386
Can you link me to where I can enter said bug? The mulesoft web pages keep sending me to 404 pages. If beer more than happy to submit if I could get there

[2016-05-04 08:17] edwardramsey opened #387 "api-designer can't import swagger zip file"
I install api-designer with npm. Now I want to import a swagger.zip file. But when I click import button, no choose box to select my file.
![image](https://cloud.githubusercontent.com/assets/4987288/15008493/32141dbc-1213-11e6-91a4-4c1d109a7318.png)

my system is OSX 10.11.4
my chrome version is  50.0.2661.86 (64-bit)
my api-designer version is
![image](https://cloud.githubusercontent.com/assets/4

[2016-05-04 09:34] sichvoge commented on #387
Can you attach the zip file? Maybe there is something wrong and there is just an issue of giving you feedback on that.

[2016-05-04 10:08] edwardramsey commented on #387
Actually I haven't choose my zip file. It's not because of the zip file. Viewing the web page I find the difference blow.  I hope it can help you.

<img width="938" alt="2016-05-04 17 42 08" src="https://cloud.githubusercontent.com/assets/4987288/15011052/4239be68-1222-11e6-8084-256746ffa14f.png">
<img width="972" alt="2016-05-04 17 42 22" src="https://cloud.githubusercontent.com/assets/4987288/15

[2016-05-12 09:16] rbkn opened #388 "The star against the saved item in API Designer never goes away even after save"
When I save one of my files in RAML API designer, the star next to the filename indicating the file has changed disappears.  When moving away from this file to work on another, the star returns indicating a change although there has been no change.

This happens only with one specific file (contains traits).

[2016-05-12 12:49] dmartinezg commented on #388
interesting, this is when API designer uses localStorage for saving files or on a custom FS implementation?

[2016-05-12 13:12] rbkn commented on #388
not sure what it's using for storage (Firefox Browser) , but if it is local storage, it's just NTFS.

[2016-05-18 04:52] fuguoSorp opened #389 "api-designer doesn't run"
Hi there,

I'm trying to install and run api-designer on my windows 7 machine. I followed the instruction here (https://github.com/mulesoft/api-designer), but it doesn't run successfully (refer to the attached screenshot).
![apidesignererror](https://cloud.githubusercontent.com/assets/19422244/15347786/048fec40-1d08-11e6-922e-8b89e205f5fa.jpg)

Could you please offer some advice? Thanks.

Kind reg

[2016-05-24 23:40] ekoutanov opened #391 "Use of TypeA-or-TypeB types fails to parse"
Version: branch features/raml-1.0 commit 5c80401 api-designer version 0.0.6
OS: El Capitan 10.11.4
Browser: Chrome 50.0.2661.102 (64-bit)

The following example fails:
[code]
^^^ **fails**
Two errors are produced on the example node:
- object is expected
- union type options does not pass validation

An awkward hack is to wrap the response in a property; then OR types will work.
[code]
^^^ **works

[2016-05-26 20:29] sichvoge commented on #391
Hi, it seems that the parser tries to validate an object against your YAML type, but since you use `|` you basically define a string. I raised an issue inside the parser repo to fix that as that should not happen. You can track the progress [here](https://github.com/raml-org/raml-js-parser-2/issues/247).

For now, if you remove the pipe symbol after `example:` you should be good to go, but if its

[2016-05-27 00:37] ekoutanov commented on #391
Hi, thanks heaps for that! Unfortunately our real case (not the dog/cat example) which prompted this issue submission is a very large API with numerous examples and so we have extensively modularised it. All examples are in their own .json files and referred to from the main api.raml file using !include directives. It seems that !include behaves exactly the same way. Do you know of a workaround wh

[2016-05-31 22:14] jamesontriplett opened #394 "API Designer Erased content of all RAML Files"
I had a series of API RAML files in a folder on API designer, I moved all the api files out of the folder, and then deleted the folder.  At the same time I was trying to get the API portal to try to display my RAML files.
I go to check my RAML files and they are all (except one) EMPTY!!!  I put a lot of work into those files.  I don't know what happened, but having them all erased is BAD!

[2016-05-31 22:16] jamesontriplett commented on #394
Where can I see previous saves or versions of my files???  I need to get that contact back.

[2016-06-01 12:45] dmartinezg commented on #394
Hi @jamesontriplett, can you provide more information about which API designer you were using?

 Are you self hosting API designer? Are you using a hosted version of API designer? If so, have you contacted support for the place where designer was hosted?

As for this being a bug on designer, we will look into it, and see if there is some interaction where saving can result in anything like that. P

[2016-06-01 12:46] jamesontriplett commented on #394
This was on Anypoint online platform.
On Wed, Jun 1, 2016 at 7:45 AM Damian Martinez Gelabert <
notifications@github.com> wrote:

[2016-06-02 10:51] neilhosey commented on #369
Was this ever released?  Im really looking forward to a good RAML 1 editor.

I

[2016-06-04 00:44] sichvoge commented on #369
It was indeed. The current master contains support for RAML 1.0 as well.

[2016-06-07 19:46] beno commented on #369
Current master still reports 'Unsupported RAML version'.

I am a bit puzzled about the overall state of RAML 1.0 adoption. Lots of 'almost there' seemingly.

[2016-06-08 07:14] sichvoge commented on #369
The spec has been closed 2 weeks ago. Obviously we need to give people the time in between needed to update their tools.

With regards to the master. I have it running fine locally.

![image](https://cloud.githubusercontent.com/assets/498114/15885726/ee3a5012-2d50-11e6-8f1d-10caccface12.png)

What did you execute to run it? Maybe I can help to get you started.

[2016-06-08 08:19] beno commented on #369
Hi, I think I may have been looking at the previous stable version earlier, but when try to run the current master the browser loads the api-designer javascript files and then errors out with

api-designer.js:9408 Uncaught ReferenceError: angular is not defined

[2016-06-08 09:29] sichvoge commented on #369
Have you tried the following:

[code]

?

[2016-06-08 10:24] beno commented on #369
Thanks for the help, we are getting closer, but still no cigar. I missed the bower and grunt steps, and I have done them now after a fresh reinstall. The application loads, but now gives me an 'undefined' error message, regardless of version specification.

<img width="407" alt="screen shot 2016-06-08 at 12 19 48" src="https://cloud.githubusercontent.com/assets/46243/15891214/d56b6eea-2d73-11e6-86

[2016-06-08 10:41] beno commented on #369
Succes! The error seemed to stem from unuploaded includes from the other RAML file. So I guess the issues here are

- the error 'bleeds' from one API spec to the next
- the error is not specific

But other than that, I can now work on 1.0! Yay! Thanks for your help.

[2016-06-15 13:48] sichvoge opened #396 "Console renders even with an error in the RAML file"
As you can see in the image below, the console renders despite the RAML having errors. That should not happen.

![image](https://cloud.githubusercontent.com/assets/498114/16082087/3c87e1e6-3308-11e6-8a78-5d075f657931.png)

[2016-06-15 15:34] dmartinezg commented on #396
That is incorrect @sichvoge, the console is rendering the _previous_ version of RAML that was valid.

Imagine this scenario, as you are typing, your RAML will be invalid more often than not (this is particularly true for slow typers), in those scenarios, the console would flicker on an off all the time.

This is WAD, and is not a bug. I will be closing this one if you don't mind.

[2016-06-15 15:34] #396 closed

[2016-06-21 18:45] Mikey887 opened #398 "API designer continually give error for traits , traits should be in a map in RAML 1.0 when trait is defined as a map"

[2016-06-21 20:08] sichvoge commented on #398
Can you please give more details. Whats your example? Usually this happens when you use something like:

[code]

The `-` is not allowed in RAML 1.0.

[2016-06-22 17:18] Mikey887 commented on #398
so i have api.raml with

`#%RAML 1.0
title: Raml customer context header
baseUri: https://api.dropbox.com/{version}
version: 0.1
traits:
   Context:
      usage: Apply this to any method that needs to be secured
      description: Some requests require authentication.
      headers:
        CustomerContext:
          properties:
            customerId:
              required: true
              ex

[2016-06-22 18:58] sichvoge commented on #398
Yes the error is fully valid. A RAML fragment does not really have a title or a need to define a specific key. Its pure content. So if you change your `securitySchema.raml` to the following it should work:

[code]

[2016-06-22 19:45] Mikey887 commented on #398
sweet , thanks

[2016-06-22 19:45] #398 closed

[2016-06-29 17:11] dbohl opened #399 "unknown type date-only"
I created a queryParameter of type "date-only" (using RAML 1.0).  When I go to my mock service, it gives me an error - "unknown type date-only".

It seems to be the same issue as this:
https://github.com/mulesoft-labs/raml-dotnet-tools/issues/71
Although that one is under raml-dotnet-tools, so the change may not have made it to the online api designer yet?

[2016-06-30 01:26] Gregroam commented on #310
I'm having this issue too... And this post was a year ago

[2016-06-30 12:15] sichvoge commented on #310
Are you using the master version here on Github or the one hosted on the Anypoint Platform? Using the hosted solution, I cannot reproduce it anymore.

[2016-06-30 12:21] sichvoge commented on #310
Same with the standalone version. :(

[2016-06-30 14:39] sichvoge commented on #399
Hi @dbohl, we have fixed that problem in our mocking service. Can you try again and let me know if that works again?

[2016-06-30 15:29] spidiTsakirales opened #400 "version 1.0 specifying unknown facet:formParameters?"
I have just started using raml version 1.0 .

I cannot find anything on the documentation which states formParameters are no longer supported.
However the following is supported on version 0.8 but not on version 1.0 ?

[code]

i get an error : specifying unknown facet:formParameters?

[2016-06-30 18:20] dbohl commented on #399
It looks like it's working now.  Thanks!

[2016-06-30 18:20] #399 closed

[2016-06-30 22:42] Gregroam commented on #310
The one hosted on AnyPoint.

1. Create folder
2. Add raml file to the folder with the version and a title. It'll give an error saying the file doesn't exist.
3. Refresh page. The error is gone
4. Delete the folder. It'll error but disappear
5. Refresh the page, folder is still there, it is now empty, but cannot be deleted. Keeps giving error

[2016-07-01 12:48] sichvoge commented on #310
I can confirm the very strange error in step 2, but not the others. Recorded it. Here's the gif.

![aodjy1tenw](https://cloud.githubusercontent.com/assets/498114/16521961/6c604ab6-3f92-11e6-9b3f-cfd52727a34c.gif)

[2016-07-07 23:45] Gregroam commented on #394
This happened to one of my files too when I renamed the folder it was in, then the file itself

[2016-07-07 23:53] Gregroam opened #401 "When extending external api, libraries try to resolve locally."
When I try to extend an api from an external location, such as a public portal, using the public root file you can copy the link for, it'll work as long as that external api doesn't use libraries through the `uses:` property, but if it does use it, it seems to try to resolve those files locally instead of from the external location, and therefore errors.

Example:

local/api.raml
[code]

external_

[2016-07-07 23:57] Gregroam commented on #400
Use properties instead

[2016-07-12 11:10] sichvoge commented on #400
What @Gregroam. you should use `properties` as described [here](https://github.com/raml-org/raml-spec/wiki/Breaking-Changes#defining-form-parameters-has-been-removed-in-favour-for-raml-types).

So your example should be

[code]

[2016-07-12 11:11] sichvoge commented on #401
That is a very good point. Let me raise that to the parser team. Very good use case.

[2016-07-12 11:14] sichvoge commented on #394
@jamesontriplett @Gregroam can you describe step by step what you have done? I think that might be because of the saving behaviour, but it would be good to have something that we can use to reproduce that.

[2016-07-12 15:45] KonstantinSviridov commented on #401
Hi, @Gregroam

Thanks for a good catch.
In fact it's a parser bug:
https://github.com/raml-org/raml-js-parser-2/issues/348

[2016-07-13 04:04] Gregroam commented on #401
Saw that it's been fixed, awesome! When can I expect to see this fix go to the anypoint api manager?

[2016-07-13 20:53] sichvoge commented on #401
As soon as the Mulesoft team does QA testing and include it into their next release. Not sure when that will be.

[2016-07-21 00:55] shadowhand commented on #369
There are still a number of errors present when pasting the example file from http://raml.org/developers/whats-new-raml-10 into API Designer.

[2016-07-23 02:51] #400 closed

[2016-07-23 15:12] sichvoge commented on #369
Which one in particular?

[2016-07-23 15:27] sichvoge commented on #369
@shadowhand its a mistake in how the example gets rendered on the webpage. I already raised an issue [here](https://github.com/raml-org/raml-website/issues/13).

[2016-07-27 12:15] sichvoge commented on #391
Usually it takes some time till that goes into the MuleSoft product. If that is not a critical hot fix, changes / enhancements need to wait till the next release window.

[2016-07-27 12:18] #391 closed

[2016-07-27 12:51] sichvoge commented on #389
I don't see any problems with the installation to be honest. Can you check your global NPM index if its there. Not sure where npm does store it on Windows :)

[2016-07-27 12:51] sichvoge commented on #389
Maybe this helps http://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows

[2016-07-27 12:56] sichvoge commented on #387
I am using chrome as well and don't have problems! :(

[2016-07-27 12:57] sichvoge commented on #386
@ntregillus you might have to raise a support ticket or post something on the Mulesoft's forums.

[2016-07-27 12:57] #386 closed

[2016-07-27 13:04] sichvoge opened #402 "API Designer needs to send ALL information to the mocking service"
Currently it seems that the API Designer does not consider the types that are inside a library when creating the mocking service instance. I know that the current version already collects type information from libraries but I guess only in some cases. It should do the same for the mocking service.

[2016-07-27 14:01] shadowhand commented on #369
@sichvoge thanks, that helps immensely!

[2016-07-27 14:23] sichvoge commented on #380
Hi Arun, the API Designer is tight to the File browser cache and limited on that. Anyways, the file you attached works perfectly fine. I am closing this issue for now, please let us know if its still not working.

[2016-07-27 14:23] #380 closed

[2016-07-27 14:24] #377 closed

[2016-07-27 14:38] sichvoge commented on #369
No problem. Hope to get that fixed soon.

[2016-07-27 14:39] sichvoge commented on #369
BTW, I am closing this issue as the current master supports 1.0. If there are any problems with that please file a new issue.

[2016-07-27 14:39] #369 closed

[2016-07-27 14:46] sichvoge commented on #365
That's been used in the api-designer.js to for the command line to open the API Designer in the browser. Should be easy to do.

https://www.npmjs.com/package/opn

[2016-07-27 14:49] sichvoge opened #403 "Display warnings"
Currently, the API Designer does not show warnings. Especially with .8 RAMLs showing these types is important since it gives a user hints if an example, for example, is valid against its schema. The new parser gives you the capabilities already!

[2016-07-27 14:50] sichvoge commented on #359
The new parser basically supports that already for .8 as warning and in 1.0 those are errors. We decided to have warnings in .8 RAML's for backwards compatibility. Unfortunately the designer does not show warnings yet. Its on our todo list.

You can track that [here](https://github.com/mulesoft/api-designer/issues/403).

[2016-07-27 14:50] #359 closed

[2016-07-27 17:22] sichvoge commented on #328
It's still an CSS issue or something rendering HTML inside the console.

[2016-07-27 17:48] sichvoge commented on #321
I guess the problem is that if the console is not part of the parser anymore, the API Designer needs to have that dependency explicitely.

[2016-07-27 17:51] sichvoge commented on #310
This strangely happened to me today :D But there was no way to replicate it.

[2016-07-27 18:00] sichvoge commented on #297
Still an issue!

[2016-07-27 18:05] sichvoge commented on #294
I don't know what hints you are referring to. But I think for json schema, there were never hints.

[2016-07-27 18:06] sichvoge commented on #292
This is still an issue!

[2016-07-27 18:09] sichvoge commented on #269
@jewelsjacobs any news, its been a while :)

[2016-07-27 18:17] sichvoge commented on #236
This is related to https://github.com/mulesoft/api-console/issues/82. Closing it here since that is more related to the console.

[2016-07-27 18:17] #236 closed

[2016-07-27 18:26] jewelsjacobs commented on #269
Hi @sichvoge!

No progress on this I'm afraid.  I got caught up in other stuff.  Still following the progress of this project and trying to sell RAML + API Design everywhere I go!

[2016-07-27 18:27] sichvoge commented on #219
Its still an issue with the syntax highlighter.

[2016-07-27 18:40] sichvoge commented on #213
Thats what you get in the current console:

![image](https://cloud.githubusercontent.com/assets/498114/17187624/f30bc7ee-5431-11e6-9038-99f5dcabab67.png)

Hope that is enough.

[2016-07-27 18:40] #213 closed

[2016-07-27 19:00] sichvoge commented on #203
more like a spec issue

[2016-07-27 19:00] #203 closed

[2016-07-27 19:02] sichvoge commented on #95
related to https://github.com/mulesoft/api-designer/issues/199

[2016-07-27 19:02] #95 closed

[2016-07-27 21:53] Gregroam commented on #310
Hasn't happened to me in a while now, but I still export my project as a backup if I'm moving files from one folder to another just in case

[2016-07-28 16:09] sichvoge commented on #229
That has been fixed!

[2016-07-28 16:09] #229 closed

[2016-07-29 15:00] sichvoge commented on #310
It really seems to happen randomly. :(

[2016-07-29 15:01] sichvoge commented on #269
Everywhere is awesome! :D Have you heard about the [RAML MVP Program](http://forums.raml.org/t/sneak-peek-become-a-raml-mvp/1460)? You would make a great MVP ;)

[2016-08-12 16:13] nmarinel01 opened #404 "Api-spec-converter: update RAML parser to support RAML 1.0"
At api-spec-converter, update the raml parser to support raml 1.0 (using the raml-1-parser instead of the old raml-js-parser)

[2016-08-15 18:53] comikem opened #406 "DataType Examples are not parsed"
In attempting to use dataTypes in place of schemas I have defined a type with an example.  The example in the type is ignored by the console or mocking service unless the example is explicitly defined in the response's specific media type.

Example:
Type Definition:
[code]

If a response is resource type the example is not included
[code]
Resource:
[code]
This will show the Object type and its pro

[2016-08-16 09:22] sichvoge commented on #406
I can confirm that this seems to be a problem. Thanks for reporting, we will investigate that as soon as possible.

[2016-08-16 09:33] sichvoge opened #407 "Roadmap: API Designer 1.0"
Dear community,

The API Designer has been around since a long time already and its been a sheer success building API definitions in our all time favourite modelling language RAML. With the release of RAML 1.0 in May, it was just a matter of time until the parsers and with that the API Designer had its first EA support for the new version of specification. A LOT has been done so far, and to finall

[2016-08-16 09:38] sichvoge opened #408 "Show tracing information inside the tooltip"
Currently, it is really hard to trace down errors since the only support the API Designer provides is a tooltip with the error message plus a mark where something is not working. Even that, it does not show you the actual root cause. We want to introduce tracing information inside the tooltip with information on whats the error and where it is coming from similar to what you have in the API Workbe

[2016-08-16 09:39] sichvoge commented on #402
This issue #406 might be related to this.

[2016-08-16 09:44] sichvoge opened #409 "Add the auto-completion module from the API Workbench"
The API Workbench has been a success for a lot of people already since it provides some very nice features. In the future we want to bring those into the web as well by separating modules out of the workbench and integrating them into the designer. As the team around the workbench started with that already, we will integrate the [raml-suggestions](https://github.com/mulesoft/raml-suggestions) modu

[2016-08-16 09:46] sichvoge opened #410 "Enable RAML 1.0 typed fragment validation"
Currently, the API Designer only validates the root RAML file but not any of the RAML 1.0 typed fragments. We should enable that to give early feedback when something is wrong.

[2016-08-16 09:50] sichvoge opened #411 "Import Swagger 2.0"
Some of you might come from a different angle and used a different spec language like Swagger before. Currently, we only have import for Swagger 1.2 > RAML 0.8 but thats not enough.

Since the release of RAML 1.0, and that being the default spec version; and also Swagger moving releasing 2.0 and OAI; we need to update the current import to Swagger 2.0 > RAML 1.0. We will modify and contribute, and

[2016-08-16 22:13] #404 closed

[2016-08-19 16:23] Eliaenor opened #412 "Support of the "nil" Type"
Hi !

Since the new "nil" type is now in the official documentation for raml 1.0, is there any plan to add it to the Api-designer ?

Link to the doc for reference : [Here](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#nil-type)

Vins.

[2016-08-23 13:45] sichvoge commented on #412
Should be available very soon. We need to do some testing with the new parser first.

[2016-08-23 13:56] vcourtin commented on #412
Nice ! Thanks for the answer and, of course, all the good work !

[2016-08-25 11:04] sichvoge opened #413 "API Designer seems to not expand completely and send that information to the API Console"
Related to https://github.com/mulesoft/api-console/issues/320

Having the RAML document below, it seems that the API Designer does not fully expand the document so that the includes are resolved as well. The console therefore does not have all information to successfully render the necessary examples.

[code]

![image](https://cloud.githubusercontent.com/assets/498114/17966886/fcd569a6-6abb-11e6-9

[2016-08-25 11:08] sichvoge commented on #406
@comikem that will hopefully be solved with #402. Please have a bit patience with us as long as we resolve this issue ;)

[2016-08-25 11:16] sichvoge opened #414 "Getting strange meta file not found errors inside the javascript console"
![image](https://cloud.githubusercontent.com/assets/498114/17967191/a8270a7a-6abd-11e6-840f-3c7f22b82dbd.png)

Can someone explain me what that is about?

[2016-08-26 20:01] #403 closed

[2016-08-26 20:01] #410 closed

[2016-08-28 22:56] Gregroam opened #415 "Extending remote files now cannot resolve includes files/libs from the remote location"
Previously when extending from a remote location, the parser would try to obtain any remote files included from the local destination.
[https://github.com/mulesoft/api-designer/issues/401](Issue)

Now it seems to be trying to resolve the files from the remote location, but it seems to have bodged the path to the the libraries from the remote api.

For example my remote api uses a library file

rem

[2016-08-29 14:49] carowright commented on #410
This implementation is in develop branch.

[2016-08-29 14:49] carowright commented on #403
This implementation is in develop branch.

[2016-08-30 20:32] glodieu commented on #411
Hi @sichvoge, I found that swagger 2.0 spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) has a field summary for methods and Raml 1.0 doesn't any equivalent. What do we need to do in this case? Thanks.

[2016-08-31 18:26] sichvoge commented on #411
That is a very good questions. Let me think about that a little bit more and I'll let you know. Maybe someone else here in the community also wants to jump in and have some suggestions. Annotations maybe one way.

[2016-08-31 20:20] nmarinel01 commented on #409
Related pull request [https://github.com/mulesoft/raml-suggestions/pull/8](url)

[2016-09-09 14:26] liangchouzhou opened #417 "Questions: can use api-designer to send request to my test server to test the API?"
just like postman does.
does api-designer support that?

i try to POST my request to my service (127.0.0.1:8180) and
* if i click 'API is behind a firewall', it POST http://127.0.0.1:8180/v1/device，and the response is:

[code]

* if uncheck 'API is behind a firewall', it POST **/proxy**/http://127.0.0.1:8180/v1/device, and the response is

[code]

[2016-09-13 21:27] Decimator02 opened #418 "Valid example is reported as not conforming to the schema"
API Designer Version: Current version on https://anypoint.mulesoft.com
Browser: Firefox 48.0.2, Chrome 53.0.2785.113, Internet Explorer 11.0.9600.18426 Update Versions 11.0.34
OS: Windows 7 Enterprise SP1

The valid example file is being reported not conforming to the schema and preventing the API preview from rendering. The error reported is:

[code]

If the attributes on the `MessageEnvelope` no

[2016-09-14 12:07] #408 closed

[2016-09-15 23:51] #409 closed

[2016-09-16 22:12] dcsw commented on #356
I just confirmed the symptom that the Mocking Service button will not turn on when api-designer is installed via npm (eg 'npm install -g api-designer'), but that cloning the repo and running it (after 'npm install && bower install') DOES make the button work.

Perhaps the next push to npm (http://www.npmjs.com) will solve this issue and allow it to be closed.

[2016-09-16 22:16] #411 closed

[2016-09-17 00:47] #402 closed

[2016-09-18 10:27] sichvoge commented on #407
**Update**

We plan to do another week QA and code review! Release is postpone to September 30th

[2016-09-19 13:03] sichvoge opened #420 "Provide release notes for API Designer v1.0"

[2016-09-19 13:03] sichvoge opened #421 "Execute QA testing for API Designer v1.0"

[2016-09-19 17:33] nmarinel01 opened #422 "Api designer does not show feedback on errors"
Steps to reproduce:
- pull of develop branch
- start api-designer
- import a swagger file syntactically correct.

Swagger file is imported to RAML 1.0 file, but no resources documentation is displayed at Resources panel. This is because there are errors that are not being displayed and cause resources documentation not to be generated

[2016-09-19 20:42] nmarinel01 opened #423 "Api Designer : default RAML version to 1.0 when creating new files"
Api Designer should default to #%RAML 1.0 when the following scenarios:
- creating a new raml file from scratch
- when importing Swagger 2.0 files
- when a new instance of API Designer starts

[2016-09-19 20:49] nmarinel01 opened #424 "Api Designer - Import : remove "beta" label at dialog box"
- Go to Import option
- Import dialog window opens. Dialog title is "Import file (beta)"

Lets remove beta from this title.

[2016-09-19 21:09] nmarinel01 opened #425 "Api Designer - Import : Add supported Swagger version as a label at dialog box"
Add the following note below import type dropdown:

Note: Currently supports Swagger 2.0

[2016-09-19 21:10] nmarinel01 opened #426 "Api Designer - Import : save file after importing a single Swagger file"

[2016-09-19 21:54] nmarinel01 opened #427 "Api Designer : error tooltip is not displayed ok"
When error is at the beginning of the file
When error message contains multiple lines.
When error message is too long

[2016-09-19 22:10] #425 closed

[2016-09-19 22:10] #426 closed

[2016-09-19 22:10] #422 closed

[2016-09-19 22:10] #424 closed

[2016-09-20 10:12] sichvoge commented on #423
Why not? i would support that the API Designer creates RAML 1.0 files by default. If that is implemented already, lets make sure its across the board. For example when you start a new instance of the API Designer, the first file should also be a RAML 1.0 document

[2016-09-20 10:32] sichvoge opened #428 "Warnings do not show up"
Branch: develop
Milestone: v1
Related to: #403.

Using the following RAML document:

[code]

The following warning should pop up "Unrecognized schema".

[2016-09-20 10:37] sichvoge opened #429 "test"

[2016-09-20 10:37] #429 closed

[2016-09-20 10:48] sichvoge opened #430 "No errors in typed fragments"
Branch: develop
Milestone: v1
Related to: #410

I don't see any errors in the following RAML typed fragment:

[code]

Please review all type fragments for errors and warnings.

[2016-09-20 10:53] sichvoge opened #431 "Saving and modifying takes a long time."
Branch: develop
Milestone: v1

Lets assume you have the following RAML:

[code]

Now change the RAML version from 0.8 to 1.0 and press CMD + S to save the file. The cursor is stuck from about 7s before the notification pops up that the file is saved.

The issue does not occur with the current master version.

[2016-09-20 10:58] sichvoge commented on #431
The time to move the cursor actually takes also very long using the following typed fragment:

[code]

What I have done is:

1. set cursor behind `deprecated: Dog`
2. press the return key on your keyboard and delete `Dog`; you should already see that it will take seconds
3. try to write Dog again; same duration before something gets done

This is critical since its unusable right now even for very

[2016-09-20 11:00] sichvoge commented on #431
**UPDATE**: Refreshed my browser and the performance gets slightly better.

[2016-09-20 11:06] sichvoge opened #432 "Console does not show me any type information inside the response section"
Branch: develop
Milestone: v1

I defined a type inside a library and referenced to it inside  my response. I would expect the console to show me that information, but only get an empty panel:

![image](https://cloud.githubusercontent.com/assets/498114/18667932/8f71a888-7f2a-11e6-85b3-444c4696ee4b.png)

Weird thing. The information are shown inside the "Types" section inside the console.

![image](

[2016-09-20 11:13] sichvoge commented on #432
This is how it looks like in the current master version:

![image](https://cloud.githubusercontent.com/assets/498114/18668135/a0204cb0-7f2b-11e6-8dfb-fbd98572a1e6.png)

[2016-09-20 11:17] sichvoge commented on #431
**UPDATE** Saving gets very slow after a while. Any memory leaks?

[2016-09-20 11:22] sichvoge commented on #432
Might be related:

Using the following example:

[code]

I don't see anything in the console anymore:

![image](https://cloud.githubusercontent.com/assets/498114/18668348/cf373698-7f2c-11e6-987c-9e1fcd98c190.png)

That was working before.

[2016-09-20 11:25] sichvoge commented on #422
That is working but not in typed fragments. See #430

[2016-09-20 13:21] javok002 commented on #431
There was a copy process of the parser's result that was making it very slow in some cases

[2016-09-20 13:21] #431 closed

[2016-09-20 13:50] sichvoge commented on #431
@javok002 did you change anything anywhere to resolve that. seeing the issue been closed but no commit thats related to it?

[2016-09-20 15:38] sichvoge commented on #432
OK with the last I do see something now but only the following:

![image](https://cloud.githubusercontent.com/assets/498114/18677429/9ef83fb2-7f50-11e6-8bed-dcc7abe85a04.png)

[2016-09-20 15:41] sichvoge commented on #432
**UPDATE**

Using the current state, the informations are back for the initial problem:

![image](https://cloud.githubusercontent.com/assets/498114/18677563/0ae74074-7f51-11e6-93be-ccdbba4342f6.png)

Problems remain with the example in https://github.com/mulesoft/api-designer/issues/432#issuecomment-248273763

[2016-09-20 15:45] sichvoge commented on #430
invalid - the example is working correctly and i also get errors.

[2016-09-20 15:45] #430 closed

[2016-09-20 15:47] sichvoge commented on #428
Not all the warnings are off. In RAML 1.0 its working.

[2016-09-20 16:03] sichvoge opened #433 "Additional type in auto-suggestion that should be there"
Branch: develop
Milestone: v1.0

![image](https://cloud.githubusercontent.com/assets/498114/18678383/bfe9fde8-7f53-11e6-9fe9-9c0fd45df403.png)

As you can see, there is an additional `Dog` type that is not inside the scope and shouldn't be there. Could it be that it also detects things from other libraries that are referenced inside, for example, the `libraries/types/test.raml` lib?

I have the fo

[2016-09-20 16:04] sichvoge commented on #433
OK, adding a `Bridge` type to the `testlib.raml` also adds that into the auto-suggestion list.

[2016-09-20 16:12] sichvoge opened #434 "Console and Mocking Service do not have all information to render everything correctly"
Branch: develop
Milestone: v1.0

It seems that types in libraries that inherit from other types in another library do not get displayed correctly.

![image](https://cloud.githubusercontent.com/assets/498114/18678835/471ae0a6-7f55-11e6-9d33-b12552f11f0a.png)

My RAML:

[code]

[code]

[code]

[2016-09-20 20:19] agustinlg commented on #431
It was fixed in this commit: https://github.com/mulesoft/api-designer/commit/8f5c85087541cd7406af3e429a44257239056194

[2016-09-20 20:37] javok002 commented on #433
@sichvoge the suggestion that is shown there is provided by the raml-suggestion module, shouldn't we change directly in that module?

[2016-09-20 20:44] nmarinel01 commented on #427
Caro,
could you please check the tooltip position ? When scrolling down or up, it remains far from the error icon

[2016-09-21 15:09] carowright commented on #428
fixed in #422

[2016-09-21 15:11] #428 closed

[2016-09-21 18:32] javok002 commented on #432
@sichvoge I tried out the example in the comment, and got this result:
![screen shot 2016-09-21 at 2 58 32 pm](https://cloud.githubusercontent.com/assets/5315281/18723097/b083defe-800d-11e6-8eaf-10182ef5d0f0.png)

This error happens when this syntax is used for the arrays:
` type: <<typeName|!singularize>>[]`
If instead it is written this way, it works:
` type: array
   items: <<typeName|!singular

[2016-09-21 19:30] sichvoge commented on #432
That might be fixed with https://github.com/raml-org/raml-js-parser-2/issues/407. Hope that is going to be in the sprint release on Monday.

[2016-09-23 06:04] sichvoge commented on #433
I agree. I already let the team know but can you please create an issue on the repo and point to this one.

[2016-09-26 20:09] #427 closed

[2016-09-26 20:09] #423 closed

[2016-09-28 12:57] #432 closed

[2016-10-03 14:07] #421 closed

[2016-10-03 14:07] #420 closed

[2016-10-03 18:41] nmarinel01 opened #436 "Autocomplete : review some usability issues"
Some usability bugs have been detected :
. option selected in suggestions pop-up on securedBy node is not completing code
. filter in popup is case sensitive while filter in panel is not
. replacing node with another adds unnecessary line with additional ":"

[2016-10-03 18:43] nmarinel01 opened #437 "Display errors : review usability issues"
Errors at used library are displayed at root RAML as warnings

[2016-10-03 18:45] nmarinel01 opened #438 "Warnings: long messages are not fully displayed"
Warnings with large messages are not completely visible

[2016-10-03 18:58] sichvoge commented on #317
We think about the current menu structure:

- Project
  - New File
    - RAML 1.0
      - API Spec
      - (all fragments)
    - RAML 0.8 API Spec
  - New Folder
  - Save
  - Save All
  - Import
  - Export
    - Project Zip
    - Swagger 2.0 JSON
    - Swagger 2.0 YAML
- View
  - Toggle Background Color (CTRL + SHIFT + T)
- Help
  - RAML Specification
  - raml.org Website
  - Report Bug
  - Gettin

[2016-10-03 19:22] sichvoge commented on #317
"New File" content should also be inside the context menu inside the directory view.

![image](https://cloud.githubusercontent.com/assets/498114/19050585/23ca3fe6-89a7-11e6-936f-dfb53604660d.png)

[2016-10-04 12:02] sichvoge opened #439 "Library gets not validated"
Branch: develop

I am using [this example](https://github.com/raml-org/raml-spec/issues/561) and get different validation results with the API Designer vs API Workbench. I do get a warning that points to the `sessions.raml` library, but going there I don't see any error. Using the same project in workbench I do get one

![image](https://cloud.githubusercontent.com/assets/498114/19073402/c5c905d0-8

[2016-10-04 12:03] sichvoge commented on #439
There is also another issue here; see the line and column number; compare that with the warning in the API Designer

![image](https://cloud.githubusercontent.com/assets/498114/19073431/f1110ba2-8a32-11e6-9749-69ac16f1ab21.png)

[2016-10-04 12:08] sichvoge commented on #439
Sorry my bad; the first line should always be `#%RAML 1.0 <fragment identifier>` and not a comment. That also fixes the line and column problem.

[2016-10-04 12:08] #439 closed

[2016-10-05 14:21] sichvoge opened #440 "Getting auto-completion inside a JSON string"
![image](https://cloud.githubusercontent.com/assets/498114/19116968/4685a6ce-8b0f-11e6-8b2e-33d1fa637271.png)

As you can see in the image above; I am getting auto-completion inside a JSON schema type definition. Can we prevent that. It's kinda annoying. ;)

[2016-10-05 14:21] sichvoge opened #441 "Getting auto-completion inside a JSON string"
![image](https://cloud.githubusercontent.com/assets/498114/19116968/4685a6ce-8b0f-11e6-8b2e-33d1fa637271.png)

As you can see in the image above; I am getting auto-completion inside a JSON schema type definition. Can we prevent that. It's kinda annoying since its comes out of RAML types. ;)

[2016-10-05 22:53] #433 closed

[2016-10-07 12:38] sichvoge commented on #440
seems that github created the same ticket again. closing it.

[2016-10-07 12:38] #440 closed

[2016-10-07 12:41] sichvoge commented on #415
This probably is a problem inside the parser. Can you please create an issue on js parser repo.

[2016-10-07 14:42] #401 closed

[2016-10-07 14:43] nmarinel01 commented on #401
Verified in API Designer, develop branch

[2016-10-17 05:50] AyaanSaini opened #443 "Moking service option is not visible"
I am new on this platform please suggest me how to on moking services option. I have attached a  gif.
![moking service issue](https://cloud.githubusercontent.com/assets/8656294/19426628/af7b4cb0-945b-11e6-93b2-19e6cece968c.gif)

[2016-10-24 12:48] #438 closed

[2016-10-24 12:48] #437 closed

[2016-10-24 14:08] carowright commented on #394
Already fixed in develop branch. Will be released in next version.

[2016-10-24 14:08] #394 closed

[2016-10-24 14:08] carowright commented on #217
Already fixed in develop branch. Will be released in next version.

[2016-10-24 14:08] #217 closed

[2016-10-24 14:09] #296 closed

[2016-10-24 14:16] carowright commented on #384
Already fixed in develop branch. Will be released in next version.

[2016-10-24 14:16] #384 closed

[2016-10-24 14:19] carowright commented on #297
Already fixed in develop branch. Will be released in next version.

[2016-10-24 14:19] #297 closed

[2016-10-24 15:06] carowright commented on #310
Already fixed in develop branch. Will be released in next version.

[2016-10-24 15:06] #310 closed

[2016-10-24 15:59] sichvoge commented on #297
you sure its fixed? still happens for me on the develop branch. See this URL that contains two different `mocks`:

baseUri: http://ec2-52-201-242-128.compute-1.amazonaws.com/mocks/ebf83e4d-0ab6-4d71-870d-3216d957e497/mocks/e01fec5d-bb06-46a4-888a-912b33a597c3

Reproduce:

1. take any RAML file
2. press enable mocking service button
3. press disable mocking service button
4. press enable again

the

[2016-10-25 13:34] carowright commented on #163
Already fixed in master.

[2016-10-25 13:34] #163 closed

[2016-10-25 13:39] carowright commented on #297
Sorry, it was in a different branch. Now it is in develop.

[2016-10-27 16:45] nmarinel01 commented on #413
Verified at QA environment. This fix will be included in next release.

[2016-10-27 16:45] #413 closed

[2016-10-27 22:41] nmarinel01 commented on #292
Not reproducible any more.

[2016-10-27 22:42] #292 closed

[2016-10-27 22:48] nmarinel01 commented on #231
Is this bug still reproducible ?

[2016-10-28 00:21] nmarinel01 commented on #436
Fixed. Will be available next release

[2016-10-28 00:21] #436 closed

[2016-10-28 13:40] nmarinel01 commented on #406
Fixed in develop branch

[2016-10-28 13:40] #406 closed

[2016-11-16 10:29] sichvoge opened #461 "Syntax highlighting problem"
It seems there is a syntax highlighting problem within regex defined properties. See image below.

![image](https://cloud.githubusercontent.com/assets/498114/20343730/725790d4-abe7-11e6-9dd5-603932d13ff6.png)

Example:

[api (6).zip](https://github.com/mulesoft/api-designer/files/594309/api.6.zip)

[2016-11-16 10:31] sichvoge commented on #443
This is MuleSoft's Anypoint Platform. It seems that the designer isn't fully displayed in the API Manager. Hence you don't see everything which is on the right side. Nothing to do with the designer itself. I would contact someone from the MuleSoft support team.

[2016-11-16 10:31] #443 closed

[2016-11-19 20:08] llattes opened #462 "Mocking service activation fails to comment the real baseURI sometimes"
I cannot reproduce consistently and I cannot provide exact reproducing steps but sometimes the baseURI does not get properly commented out when activating the MS, causing an error due to duplicated baseURI.

<img width="699" alt="screen shot 2016-11-19 at 5 01 09 pm" src="https://cloud.githubusercontent.com/assets/2574415/20458139/c241379a-ae7a-11e6-996b-a50264cbc48f.png">

[2016-11-22 20:03] nmarinel01 commented on #418
Cannot reproduce this behavior with latest Api Designer version.
Please, verify and reopen if necessary

[2016-11-22 20:03] #418 closed

[2016-11-22 21:42] nmarinel01 commented on #389
I tried the  steps using Windows and I have no problem. Cannot reproduce the behavior you described.
Please, verify again and reopen if necessary
Regards

[2016-11-22 21:42] #389 closed

[2016-11-22 22:42] nmarinel01 commented on #388
Cannot reproduce this behavior with latest Api Designer version.
Please, verify and reopen if necessary
Regards

[2016-11-22 22:42] #388 closed

[2016-11-22 23:34] nmarinel01 commented on #387
Cannot reproduce this behavior with latest Api Designer version.
Please, verify and reopen if necessary
Regards

[2016-11-22 23:34] #387 closed

[2016-11-23 00:11] nmarinel01 commented on #342
Cannot reproduce this behavior with latest Api Designer version.
Please, verify and reopen if necessary
Thank you !

[2016-11-23 00:11] #342 closed

[2016-11-23 13:16] nmarinel01 commented on #412
Hi ! Nil support is included at last API Designer version
Regards

[2016-11-23 13:16] #412 closed

[2016-11-23 14:07] nmarinel01 commented on #219
Hi dwcramer,
Cannot reproduce that behavior using latest Api Designer version.
Please, will you verify again and reopen if necessary ?
Thanks

[2016-11-23 14:07] #219 closed

[2016-11-24 12:40] sichvoge commented on #462
Yes, I have seen that same behaviour before. Again, couldn't really reproduce it as you said.

[2016-11-24 20:30] nmarinel01 commented on #462
I cannot reproduce it :(

[2016-11-25 13:23] #407 closed

[2016-12-20 19:42] Cogitaria opened #465 "Missing export function"
There's no export menu item and no hint as to how we are supposed to save the files created with api-designer.  To a person, everybody who has looked at this tool has asked that question and you also see posts such as "this is embarrasing, how do I save...", since it's such a basic need.

There's no version on the menu, api-designer doesn't know what --version or -version means, but it's the lates

[2016-12-21 14:29] Cogitaria commented on #465
and ... no response

[2017-01-09 19:52] jetmartin commented on #465
Hi,

On a fresh NPM install my team get the same issue this morning.
More than the export button the right sidebar (HTML preview) is missing too.

It's maybe a bug on the latest NPM deployement because it works fine on my oldest installation.
When I re-install it, I reproduce the bug.

To fix this, what i've done bellow  :
1 - clone the repo
2 - $ npm install && bower install && grunt build

[2017-01-11 13:42] piotrkochan opened #466 ""Embedding" does not work at all"
I've tried to use "Embedding" example from README but there is no effect at all. LocalStorage is still used.
Designer does not firing any ajax requests, but `run(function (MyFileSystem, config, $rootScope) {` is firing.

[2017-01-12 10:28] sichvoge commented on #317
@nmarinel01 this can be closed right?

[2017-01-12 10:34] sichvoge commented on #327
This has been implemented. Closing it.

[2017-01-12 10:34] #327 closed

[2017-01-12 11:05] sichvoge commented on #290
think that is a duplicate for https://github.com/mulesoft/api-designer/issues/372. I'll close that to only keep one.

[2017-01-12 11:05] #290 closed

[2017-01-12 11:55] nmarinel01 commented on #317
Yes ! You're right. Closing. Thanks

[2017-01-12 11:55] #317 closed

[2017-01-12 12:59] nmarinel01 commented on #415
Hi @Gregroam !
I have tested the parser fix with the following example. I think it covers your use case and works ok after Js Parser fix.
[remoteApiExample.raml.zip](https://github.com/mulesoft/api-designer/files/701727/remoteApiExample.raml.zip)

Please, let me know if you think the problem has been resolved.
Thanks and regards

[2017-01-19 16:05] sichvoge commented on #415
Lets close this issue and its my personal pleasure, if we need to open it again, to open it again ;)

[2017-01-19 16:05] #415 closed

[2017-01-19 16:16] sichvoge commented on #465
We will look at that. Sorry for not coming back earlier @Cogitaria

[2017-01-19 16:18] sichvoge commented on #465
Very wierd by the way. Looking at our deployment its there http://rawgit.com/mulesoft/api-designer/master/dist/index.html#/?xDisableProxy=true.

![image](https://cloud.githubusercontent.com/assets/498114/22114889/e110f3e6-de62-11e6-83b4-8435a78ee8a5.png)

[2017-01-19 16:22] sichvoge commented on #465
Next, we will check the npm repo.

[2017-01-20 19:58] agustinlg commented on #466
Updated readme file with correct usage.
Thanks

[2017-01-20 19:58] #466 closed

[2017-01-21 03:34] jefhu commented on #356
I clone the git and run 'npm install && bower install'.  It builds js in dist/scripts/*.js

[2017-01-21 12:13] sichvoge commented on #356
really weird. thanks for reporting that!

[2017-01-24 18:46] agustinlg commented on #465
Fixed installing latest 0.3.2

[2017-01-24 18:46] #465 closed

[2017-01-24 18:47] agustinlg commented on #356
As a workaround, you can open it like this `http://localhost:3000/#/?xDisableProxy=true`

[2017-01-24 18:58] sichvoge commented on #356
@agustinlg should we update the documentation?

[2017-01-29 10:27] Exadra37 commented on #199
Not having this feature is a no go for me to adopt Api Designer, because  I want to be able to version control all Raml files inside my project.

Any one found a good solution for this?

[2017-01-29 14:59] KevinMitchell opened #467 "Multiple examples in query parameter ignored"
Suppose I have

    queryParameters:
      sortOrder:
        example:
          Wibble

I correctly see the example in the formatted view.  However, if I try

    queryParameters:
      sortOrder:
        examples:
          ex1:
            description: ...
            value:
              Wobble
          ex2:
            description: ...
            value:
              Wabble

I get no exampl

[2017-01-29 16:37] KevinMitchell opened #468 "Passing a parameter to a trait inside a resource type"
Suppose I define the following trait (inside a library called traits):

    hasResponseCollection:
      responses:
        200:
          body:
            application/json:
              type: <<typeName>>[]

I can then define

    /customers:
      type: { collection: {typeName : Customer } }

      get:
        is:
          - { traits.hasResponseCollection: {typeName : Customer } }

But I wan

[2017-01-30 12:40] sichvoge commented on #199
I have something yes. It's actually not to difficult. Let me try to consolidate something this week and publish it as documentation into that repo.

[2017-01-30 13:05] nmarinel01 commented on #468
Hi @KevinMitchell ! Thanks for your report.
Will you please share the complete raml file and libraries to reproduce this ?
Regards

[2017-01-30 13:36] nmarinel01 commented on #467
Reproducible, thanks for reporting.

[2017-01-30 18:08] KevinMitchell commented on #468
libraries/xtraits.raml:

    #%RAML 1.0 Library

    traits:
      hasResponseCollection:
        responses:
          200:
            body:
              application/json:
                 type: <<typeName>>[]

libraries/xtypes.raml:

    #%RAML 1.0 Library

    types:
      Customer:
        properties:
          id:
            type: string

resources/xcollection.raml

    #%RAML 1.0 ResourceT

[2017-01-30 20:51] KevinMitchell commented on #468
I've just realised I was picking up an older version of the API Designer by mistake.  Trying the example on http://rawgit.com/mulesoft/api-designer it all behaves correctly.  My apologies for the confusion.

[2017-01-30 20:51] #468 closed

[2017-01-30 21:54] KevinMitchell opened #469 "Q: Cause of 'Resolved include path exceeds file system root' warnings?"
I'm getting these warning in a few places in my specification.  But I don't understand what causes such warnings; what's it trying to tell me?  Is there a simple example that illustrates the problem and solution?

Thanks

[2017-02-06 10:11] russi7 opened #470 "Mocking service fails with boolean values"
With the RAML below, the boolean value fails when is true, with false works correctly.

`  AdditionalBenefits:
    properties:
      cashSelected: boolean
[...]`

It works:
`{ [...]
"cashSelected": false,
[...] }`

It fails with the below error:
`{ [...]
"cashSelected": true,
[...] }`
`{
  "error": "body: firstLife: cashSelected: not a boolean"
}`

[2017-02-06 10:42] sichvoge commented on #470
Thanks @russi7, we will have a look at this.

[2017-02-06 10:43] sichvoge commented on #469
Hi Kevin. Can you attach an image of that warning pls?

[2017-02-09 13:33] agustinlg commented on #417
We will fix the proxy issue for the second case. Not sure why the first case doesn't work though if you see it is posting to the right url. Did you confirm same post is working from postman or terminal?

[2017-02-09 20:37] nmarinel01 commented on #375
We are adding an enhancement that will help.
Regards

[2017-02-13 16:08] ktmcgrat opened #471 "moving files that are modified and deleting their original directory leads to SQL error"
Moving modified files within API designer and deleting their original directories can lead to SQL faults being thrown.

This occurs on the current API Designer at anypoint.mulesoft.com.  I was using Chrome on Mac.

Steps to reproduce:

Click :Define API in API designer" for a brad new API from API manager.
api.raml already exists.
Create a directory named test by clicking "project, new Folder", an

[2017-02-28 07:07] uweschaefer opened #472 "Repsonse Header Names in Mock Server are wrong"
Please forgive me in case this is not the right place to open an issue for the mock service.

API Designer Version: 0.4.0
Browser: any
OS: any

Adding response headers to GET responses like

[code]

shows up in the AWS based mock service as

`0: bar`

Looks like the name "foo" is replaced by some sort of array index? (next one will be named "1")

[2017-03-02 00:13] mutsys opened #473 "configurable suggestion/completion delay"
Something that drives me mad with the current `api-designer`: the moment I type something where `api-designer` wants to provide a completion, it does so immediately without waiting for any reasonable delay before popping up its list of suggestions, invariably leading to the insertion of all sorts of junk as I am typing which I constantly have to delete/undo. This behavior slows me down and is a co

[2017-03-06 13:43] sichvoge commented on #473
Can you describe a little bit more what you are doing when you see that behaviour, please? Let's make sure we understood 100% what you pain is about.

[2017-03-07 01:37] mutsys commented on #473
I can attach a screen capture video that illustrates this behavior. Would that be sufficient?

[2017-03-07 10:40] sichvoge commented on #473
Definitely, thanks @mutsys

[2017-03-17 13:37] nmarinel01 commented on #472
Hi @uweschaefer ,
thanks for the report. Reproducible.

[2017-03-31 07:59] loostro commented on #199
@sichvoge can you point me towards the solution you mentioned?

[2017-04-06 15:46] nmarinel01 commented on #471
Hi @ktmcgrat ,
thanks for reporting. As you mentioned, this is MuleSoft's Anypoint Platform. There is nothing we can do with the Designer itself. May you please contact someone from the MuleSoft support team and rise a ticket for this?
Let me know. Hope this helps
Regards

[2017-04-07 11:17] sichvoge commented on #199
Hi. Sorry for the late response. As this project is basically meant to be something embeddable and flexible to what filesystem will be used; I decided to create a version with the ability to use your local filesystem in my personal repo.

It's really only using this API designer with some tweaks I have explained inside the README file.

We are currently working on a new version of the API designer

[2017-04-19 08:29] tovenkatr opened #475 "Mule Anypoint API Designer IE error"
Anypoint API Designer shows error 'Promise is undefined' for below code.
#%RAML 0.8
title: American Flights API
version: 1.0

[2017-04-20 04:29] sichvoge commented on #475
Is this only happening within IE?

[2017-04-21 06:30] tovenkatr commented on #475
Yes. Only in IE. Version 11.0.

[2017-04-21 22:20] leealt commented on #469
Has anyone answered this? I am experiencing this also.

[2017-04-23 03:38] sichvoge commented on #475
If you are a MuleSoft customer, can I ask you to raise a support ticket? Let me know if that's not the case.

[2017-04-23 03:40] sichvoge commented on #469
No one came back to my question. If you can attach a small example and an image that shows the warning, it would be very helpful.

[2017-04-23 07:56] KevinMitchell commented on #469
Sorry for not replying; I moved across to using the API Workbench in Atom which avoided the problem.   Hopefully leealt can provide an example/image.

[2017-04-24 14:22] leflamm opened #476 "discriminatorValue not recognized if declared in sub-sub-type (warning)"
Hi,
it seems like `discriminatorValue`s are not recognized if declared in a sub-sub-type (neither default nor explicitly defined).

api-designer rises warning:
`WARNING: None of the 'A' type known subtypes declare 'C' as discriminating property 'kind'`.

[code]
example file `bar/A.json`
[code]
example file `bar/B.json`
[code]
example file `bar/C.json`
[code]

[2017-04-25 12:39] dylan-asos commented on #469
I'm also getting these warnings.  I have a root API RAML document, with a number of directories, e..g

api.raml
---->traits
---->types
---->libraries
---->examples

In my library.raml file in the libraries directory, I'm referencing the individual files like so,

[code]
When I use the library from api.raml, and in particular the usage of the traits I've defined, I see the warnings next to my endpo

[2017-04-27 10:34] dylan-asos commented on #469
I've restructured my directories like so,

api.raml
---->libraries
-------->traits
-------->types
-------->examples

and my library definition

[code]

This has fixed the warnings

[2017-04-28 22:06] leealt commented on #469
This example is right from theAdvanced  API Design training class

Create the matching directories in API Designer and import/move the files into the appropriate folders

Lee

[2017-05-03 05:10] partounian opened #477 "How can I create a key named value?"
I have a json response that looks like
[code]
but with the key named value, I can only see "#FFFFFF" with the color blue in the preview of api designer?

EDIT:
However, the below json works fine.
[code]

[2017-05-03 07:13] sichvoge commented on #477
You forgot double quotes which are important in JSON:

[code]

[2017-05-03 07:14] partounian commented on #477
@sichvoge I apologise I forgot to mention that I already tried that.

[2017-05-03 10:48] sichvoge commented on #477
It's working for me and everything is rendering just fine. So can you explain a little bit more what you are seeing? Maybe add an image to clarify things more for us.

[2017-05-03 15:53] partounian commented on #477
I went and double checked adding double quotes to no avail.
Here is what I see in api-designer and api-console.
![image](https://cloud.githubusercontent.com/assets/2541595/25669292/ee502ef6-2fdd-11e7-9bf1-ed4a7f051a24.png)

[2017-05-03 17:26] sichvoge commented on #477
what version do you use, thats what i see using 0.4.1

![image](https://cloud.githubusercontent.com/assets/498114/25673069/0a581690-302e-11e7-8d11-095dee2071a8.png)

[2017-05-03 18:10] partounian commented on #477
Okay so adding the double quotes and the `|` fixes it.

[2017-05-03 18:13] #477 closed

[2017-05-08 06:57] FalconIA opened #478 "Missed request module in dependencies."
Run api-designer@0.4.1 under node@v7.9.0, get an error:

[code]

Then found there no request in dependencies section of `package.json`.

[2017-05-08 13:47] agustinlg commented on #478
Its just missing in the package.json? If you install `browser-request` dependency manually it works?

[2017-05-08 13:52] FalconIA commented on #478
@agustinlg Yes, it works after installing `request` (not `browser-request`) manually.

[2017-05-25 08:47] sichvoge commented on #478
Did you install it via npmjs or from the source code?

[2017-05-25 08:51] sichvoge commented on #478
ok that happens with the npmjs only.

[2017-05-25 20:36] gcallaway commented on #475
I have this same issue.  I am using the trial at this time as we are evaluating the solution.

Thanks!

[2017-05-28 08:17] jraede commented on #478
Still having this issue - seems like it's pretty hot? Any schedule for a fix?

[2017-05-31 00:31] #478 closed

[2017-06-08 18:44] faizzahmed opened #490 "Mock Service not accepting multiple occurrences of arrays"
My data def. is :

[code]
and the example used in mocking service for POST is

[code]

the mocking service and documentation is generated but when i use try now option it fails with the error :

[code]
When i add only 1 occurrence in the example post body it works fine , can someone suggest what is wrong ?

[2017-06-22 01:54] harvey911 opened #492 "Syntax error in RAML 200 tutorial"
In "RESOURCES TYPE" ->
  responses:
      200:
        body:
          application/json:
            example: |
              "songs": [
                  {
                    "songId": "550e8400-e29b-41d4-a716-446655440000",
                    "songTitle": "Get Lucky"
                  },
                  {
                    "songId": "550e8400-e29b-41d4-a716-446655440111",

[2017-06-25 23:07] Gregroam opened #493 "!include no longer works as array item"
Main api.raml file

[code]

and the data.yml file
[code]

Before including something as an array item used to work. Now it gives an error at the top of the file in the editor `Cannot read property 'canInclude' of undefined`. This has broken many of our projects as we use this heavily. Even using the yml way, instead of json way does not work either

[code]

The included file has to be yml, as we w

[2017-06-26 09:28] sichvoge commented on #493
Seems like a regression on the parser at the first look. Apologies for any inconvenience. We will look at this as soon as possible.

[2017-06-28 02:33] Gregroam commented on #493
Thanks. Is there an ETA on when this will go live on the api designer?

[2017-06-28 05:27] sichvoge commented on #493
Are you using the reference implementation here on Github or MuleSoft's Anypoint platform?

[2017-06-28 12:50] agustinlg commented on #493
Hey @Gregroam ETA is July 15. Thanks.

[2017-06-28 21:28] Gregroam commented on #493
@sichvoge Mulesoft's Anypoint platform. @agustinlg thanks

[2017-07-07 01:42] davidsonsns commented on #478
To solve the problem quickly, I installed global `npm install -g request`

[2017-07-14 21:19] Loupie opened #495 "API Manager in Anypoint RAML error"
When I create a new API it prefills the RAML with this
#%RAML 1.0
title: american.raml
version: 1.0
---> It starts with a red X next to the 1st line and when I hover over it it says "Promise" is undefined.

But it already has an error that does not go away when I continue building the RAML.

[2017-07-15 07:09] sichvoge commented on #495
Hi, thanks for raising. We look into that as soon as possible.

[2017-07-31 02:49] nallen01 opened #497 "Array types not being displayed correctly"
API Designer Version: 0.4.2 / 0.4.3
Browser: Chrome/59.0.3071.115 (64-bit)
OS: Windows 7 Enterprise SP1

Minimal example:
[code]

In the above case the GUI on API Designer shows `People` as being of time `items[]`, whereas it should be `Person[]`. Changing `People` to be explicitly of type `Person[]`, or using the shorthand for `items` (e.g. `items: Person`) works properly, but having an expanded

[2017-08-10 10:15] deividaspetraitis commented on #469
Bump. Same here:

![screenshot_19](https://user-images.githubusercontent.com/5105752/29166149-ee2ded76-7dcd-11e7-8c01-4601f3e39691.png)

[2017-08-10 13:13] sichvoge commented on #469
Can you send us a small reproducable project, please?

[2017-08-11 05:11] deividaspetraitis commented on #469
Sure, you can find whole API definition here: https://anypoint.mulesoft.com/apiplatform/noname-10/#/portals/organizations/eb83f888-dced-479c-8339-9a96f8f854e2/apis/22427119/versions/784156/pages/269641

Also I have noticed some weird behaviour for same API definition ( RAML is valid since it's the same project ) in api-designer. Where I should report about it:

![screenshot_20](https://user-images

[2017-08-11 17:27] sichvoge commented on #469
Have you raised a support ticket with MuleSoft?

[2017-08-12 05:23] deividaspetraitis commented on #469
Unfortunately I don't have account for support and can't create a ticket..

[2017-08-14 13:46] #475 closed

[2017-08-15 11:48] dmitriyzhuk opened #499 "Error: /api.raml.meta does not exist"
Getting this error in the console.

vendor.1aaa9992.js:8 Error: /api.raml.meta does not exist

http://joxi.ru/KAgowbQT40n3xA

And can not view the rendered api

http://joxi.ru/J2bVw0vfX1xLN2

User Dreamvention
API
apis/22360836/versions/779279

title: AptDiscounter
version: 1.0
baseUri: http://.../discounter_server/api/v1/
#baseUri: http://mocksvc.mulesoft.com/mocks/01cfe648-93bd-4941-95a7-5cd72b1

[2017-10-26 16:19] lapo-luchini commented on #478
I worked it around with:

[code]

Would still be nice if `package.json` was fixed on NPM.

[2017-11-15 15:29] goodevilgenius opened #506 "Error: Cannot find module 'request'"
A fresh install of api-designer results in the following:

[code]

After running `npm install -g request`, `api-designer` runs properly.

[2017-11-17 18:18] eduardo-rubio commented on #469
https://www.mulesoft.org/jira/browse/DESIGNER-1734

[2017-11-22 10:16] pongz79 commented on #506
I had the same issue with a fresh install of api-designer.

Thanks for the fix @goodevilgenius

[2017-11-23 06:04] ch8771 commented on #506
I had the same issue too.
thanks for solve my problem.

[2017-12-08 13:57] qileilove commented on #506
awesome, the same issue, now it works fine.

[2017-12-08 15:11] qileilove commented on #356
@agustinlg I use `http://localhost:3000/#/?xDisableProxy=true` to open, still has the issue, the turn on button always loading, then failed.
![image](https://user-images.githubusercontent.com/3895501/33771511-30d12d4e-dc6c-11e7-963c-bb3acb334e55.png)

[2017-12-21 17:04] PaulWBarber commented on #495
Any updates on this?  I get same issue.  Version 0.3.2.

[2018-01-07 00:08] ssjunior commented on #506
+1

[2018-01-18 13:51] faizzahmed commented on #490
works now in the new release .

[2018-01-18 13:51] #490 closed

[2018-01-30 07:11] abhi--agrawal opened #508 "Unable to read external schemas in raml"
when adding the schemas it is giving the folowing error:

[error] Reference: '{ "type": "object", "$schema": "http://json-schema.org/draft-03/schema", "id": "http://jsonschema.net", "required": true, "properties": { "songTitle": { "type": "string", "required": true }, "albumId": { "type": "string", "required": true, "minLength": 36, "maxLength": 36 } } }' can not be resolved
[error] Can not resolv

[2018-02-05 06:18] linonetwo commented on #356
I'm in the same situation, maybe because it's showing ```file with path="/iresearch.raml.meta" does not exist``` ?

[2018-02-07 09:34] dark-neou commented on #506
npm -g install request

[2018-02-15 09:59] javafun opened #509 "NPM package is out of date"
Hi

Can someone advise how to update the api-designer console from GitHub repo directly without being hold by npm package to be released?

[2018-02-22 15:31] carowright commented on #497
Hi @nallen01!
Thank you for reporting. This is fixed from version 0.4.9:
![screen shot 2018-02-22 at 12 29 49](https://user-images.githubusercontent.com/13999213/36547280-3d8f9714-17cc-11e8-9a06-1c2531be8cf5.png)

[2018-02-22 15:31] #497 closed

[2018-02-22 15:38] carowright commented on #508
Hi @abhi--agrawal !
Could you please attach the api that is getting you to this error? Thank you.

[2018-02-22 15:43] carowright commented on #499
Hi @dmitriyzhuk!
Could you please attach the api? Thank you.

[2018-02-22 15:53] carowright commented on #493
Hi @Gregroam!
The fix is already in Mulesoft's Anypoint platform.

[2018-02-22 15:53] #493 closed

[2018-02-22 16:00] carowright commented on #492
Hi @harvey911!
Thank you for reporting. This is already fixed in [resource types section](https://raml.org/developers/raml-200-tutorial#resource-types)

[2018-02-22 16:00] #492 closed

[2018-02-22 16:54] carowright commented on #476
Hi @leflamm!
This is fixed in version 0.4.9.

[2018-02-22 16:54] #476 closed

[2018-02-22 16:58] carowright commented on #472
Hi @uweschaefer!
This is fixed and available from version 0.4.9.

[2018-02-22 16:58] #472 closed

[2018-02-22 17:05] carowright commented on #471
Hi @ktmcgrat!
I am closing this as is not reproducible anymore in API Manager.

[2018-02-22 17:05] #471 closed

[2018-02-22 17:10] carowright commented on #470
Hi @russi7!
Thanks for reporting. I am closing this as the fix is currently available.

[2018-02-22 17:10] #470 closed

[2018-02-22 17:13] carowright commented on #467
Hi @KevinMitchell!
This fix is available in version 0.4.9.

[2018-02-22 17:13] #467 closed

[2018-02-23 18:19] carowright commented on #495
Hi @PaulWBarber!
This is fixed in version 0.4.9.

[2018-02-23 18:20] carowright commented on #495
Hi @Loupie!
I am closing this issue as this is now fixed in API Manager. Feel free to reopen if applies.

[2018-02-23 18:20] #495 closed

[2018-03-01 14:18] purefan opened #511 "CLI arg --help"
I had to find the port argument by reading https://github.com/mulesoft/api-designer/blob/92e4717e4093614cd3b0dbde2d7b8ac2a096a804/bin/api-designer.js

it would be nice (and up to a point expected) to be able to call `api-designer --help` and see a reasonable list of options, even if its just the port number

[2018-03-10 12:27] Exadra37 commented on #199
@sichvoge is the Electron App already available to use?

The lack of a way to integrate a proper Raml editor that can edit the raml files directly from the git repos in the file system of our PC's is the major blocker to adopt Raml for Api Design First approach :(

[2018-03-23 17:28] carowright commented on #356
Hi @linonetwo!

Do you still reproduce this using version 0.4.10?

[2018-03-24 01:48] linonetwo commented on #356
Sorry but I leave changed the job so I don't quite know about it now...

[2018-03-26 13:31] carowright commented on #356
Closing this as cannot reproduce using version 0.4.10

[2018-03-26 13:31] #356 closed

[2018-03-29 12:54] T-vK commented on #506
2018 and the module is still broken.
Latest node version (v9.8.0) and npm v 5.6.0.
I don't want to install request globally.
If you use a module, then you have to add it to the dependencies in the package.json. Surely this can't be that hard.

[2018-03-29 13:22] goodevilgenius commented on #506
@T-vK https://github.com/mulesoft/api-designer/blob/master/package.json#L22

It is listed. 🤷‍♂️

[2018-04-19 17:11] carowright commented on #204
Hi @maryoush!
Sorry for the late response. I am closing this issue as this error is no longer in the latest version (v0.4.10).

[2018-04-19 17:11] #204 closed

[2018-04-19 17:12] carowright commented on #210
Hi @jtdeane!
Sorry for the late response, are you still facing this with latest version?

[2018-04-19 17:17] carowright commented on #294
Hi @adrianhsieh!
Are you referring to the hints for json schema?

[2018-05-10 14:38] reidlai commented on #499
+1

[2018-06-08 16:37] jvargasbdb opened #518 "Error when run api-designer"
Before install api-designer with npm install -g api-designer and run api-designer in console, this genere this error

module.js:540
    throw err;
    ^

Error: Cannot find module 'request'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)
    at Module.require (module.js:587:17)
    at require (internal/module.js:11:18)
    at Object.<anony

[2018-06-09 18:01] Northshoot commented on #518
getting same error

[2018-06-12 20:15] MIhaelbos opened #519 "Mocking Service cannot be turned on..."
Installed API-Designer and cannot activate the mocking service. After turning it on, its loading for a moment and fails

[2018-06-22 06:20] yegorjke commented on #518
+1

Why is `request` is not a dependency?

[2018-07-18 13:29] carowright commented on #469
The fix is available from version 0.4.12

[2018-07-18 13:29] #469 closed

[2018-07-18 14:22] carowright commented on #462
Closing this as cannot reproduce.

[2018-07-18 14:22] #462 closed

[2018-07-25 01:44] shisama commented on #518
Package version is old on npmjs.com. Latest is 0.4.13 on master branch.
Try the below command to install the latest version.

[code]

[2018-07-25 01:46] shisama commented on #506
See https://github.com/mulesoft/api-designer/issues/518#issuecomment-407605849

The version is old on npmjs.com. Latest is on master branch.
Try the below command to install latest version.

[code]

[2018-09-17 15:30] carowright commented on #518
Duplicate of #506

[2018-09-17 15:30] #518 closed

[2018-11-06 03:40] kasundsilva commented on #519
Hi,

I'm facing the same issue. I cannot enable the mocking service. I installed through the npm install command. Any clue on how can I fix this issue?

[2018-11-08 08:50] mp3monster commented on #506
I had to follow npm install -g mulesoft/api-designer#master to get the designer to work. Recommend the install instructions on the readme page be updated

[2018-11-08 09:04] T-vK commented on #506
`npm install -g mulesoft/api-designer` did the trick for me.

[2018-12-19 21:57] Toshakins opened #533 "Unable to check examples in README.md"
This issue related to the documentation, particularly to the `README.md` in this repository.

**Steps to reproduce**:
1. Scroll README to [examples](https://github.com/mulesoft/api-designer#examples-of-designing-raml-with-api-designer-in-the-wild).
1. Click any example.

**Actual behaviour**:
Browser shows an access error from S3:
[code]

**Expected behaviour**:
Possible to view examples.

[2019-05-24 07:12] AshokKaitake opened #539 "not able to see the vertical lines in editor"
I am not able see the vertical lines in the editor.  using raml version 1.0 . Please advise if there any any setting changes at I need to do for this.

[2019-07-05 06:25] AngusCS commented on #506
Did not install well for me.  There were six warnings from NPM about deprecated packages and a warning from api-designer about another deprecated package.

Is this project still being maintained?

MachineName:~ anguscs$ npm install -g mulesoft/api-designer#master
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
npm WARN deprecated hawk@1.0.0: This module moved to @hapi/hawk. Please mak

[2019-08-30 10:30] mrspaceman opened #544 "support for git style versioning/source code control of RAML files"
Would it be possible to allow RAML files / API projects to be stored in a git repository to allow for rollback/ update history?

[2019-09-03 10:07] purefan commented on #509
Bump. The npm version is now 2 years old

[2019-09-04 10:24] axiellJb opened #546 "Request entity too large when trying to save a modified RAML file in API Designer..."
We have several versions of our API at anypoint. For a couple of days ago I managed to remove a request from our API and to save the file. But now, for every try to save the raml file I end up with the error message "Request entity too large". How come?
It seems like the error appears after the file exceeds a certain file size. Is this a bug or a new file size limit?

[2019-10-19 03:31] tamiryspino commented on #506
@carowright I think this commit closes this issue.
https://github.com/mulesoft/api-designer/commit/842b07fb0990ddff0d4c41210a9357d4295979d8#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2019-10-29 15:11] santileira commented on #506
i had the same issue,

thanks for the solution @goodevilgenius

[2019-10-31 19:11] stephen-eas opened #557 "Hosting on Apache displays console error "Cannot read property 'ds' of undefined""
We are attempting to clone, build and host api-designer internally for our team, however when attempting to build via grunt to host on Apache we receive the console errors in the image below.
(1)
![jsErrors](https://user-images.githubusercontent.com/57231920/67976195-08342700-fbec-11e9-9cf9-e18e11026bae.PNG)
We have attempted cloning master and building, as well as tried building in accordance wit

[2019-12-12 16:30] #557 closed, assigned to nobody

[2020-04-25 07:25] Alejandro-Cansancio commented on #356
Do we have a solution on this? Mocking service is still not working.

[2020-08-25 06:48] yakovkhalinsky commented on #509
Have used this a bit in the past, it's very convenient in comparison to hand wrangling RAML files.

Please update the version on NPM.

[2020-08-25 06:49] yakovkhalinsky commented on #509
@carowright who has access to the NPM account, I'm happy to assist with NPM publishing if required

[2020-09-03 03:07] Yovven commented on #506
nice~

[2020-09-07 08:54] Johennes commented on #519
Still an issue with both the module installed from NPM and `master`.

[2020-09-12 13:33] sapnahargunani commented on #518
None of the above solution is working for me. Keep getting below error:
module.js:340
    throw err;
Could anyone please prove proper set of instructions?

[2020-09-30 07:24] purefan commented on #509
pinging @pose @jcalabrese and @blakeembrey --> If this project is dead please add a deprecated tag/message

[2020-09-30 07:31] yakovkhalinsky commented on #509
who do people use for authoring RAML files these days?

[2020-10-08 12:07] purefan commented on #509
@yakovkhalinsky I use this alias: `raml2html -v -o /tmp/raml-validate-aliased`

[2021-12-22 01:53] Initsogar commented on #506
This one worked for me.

[2021-12-22 01:54] Yovven commented on #506
邮件收到啦~~谢谢你！